<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<% cache @question do %>
  <div class="panel social-share-section" style="padding: 0">
    <%= social_share_button_tag @question.title %>
  </div>
<% end %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
