<h2>想法还是要有的，万一实现了呢？！
  <span class="span_callout">&nbsp;&nbsp;&nbsp;&nbsp;...&nbsp;&nbsp;
    ..<i class="fa fa-paper-plane"></i>
  </span>
</h2>

<h3 class="subheader"><%= sanitize @active_wish.content, tags: %w(br p) %></h3>

<div>
  <h4 id="joyride"><%= @active_wish.username %></h4>
  <p class="so-awesome" id="numero2">Wed, 28 Jan 2015 12:10:23</p>

  <% if user_signed_in? && current_user.following?(@active_wish) %>
    <%= render 'wishes/spurn_active', wish: @active_wish %>
  <% else %>
    <%= render 'wishes/got_active', wish: @active_wish %>
  <% end %>
</div>

<hr>

<div class="testimonial-wrap">
  <% @wishes.each_slice(2) do |wishes| %>
    <div class="row"  data-equalizer>
      <% wishes.each do |wish| %>
        <div class="large-6 columns testimonial" data-equalizer-watch>
          <div class="quote panel callout radius">
            <p><%= sanitize wish.content, tags: %w(br p) %></p>
          </div>

          <div class="student">
            <div class="photo">
              <%= link_to wish.user do %>
                <%= image_tag wish.user.avatar_url(:thumb) %>
              <% end %>
            </div>
            <p><%= wish.username %>

            <%= button_tag class: "minibutton js-toggler-target star-button", id: dom_id(wish) do %>
              关注
            <% end %>

            <p> <i class="fi-clock"></i> <%= time_ago_in_words wish.updated_at %> 前</p>

            <section id="<%= dom_id(wish, 'got_or_spurn') %>">
              <% if user_signed_in? && current_user.following?(wish) %>
                <%= render 'wishes/spurn_it', wish: wish %>
              <% else %>
                <%= render 'wishes/got_it', wish: wish %>
              <% end %>
            </section>

            <% if user_signed_in? && current_user.following?(wish) %>
              <%= form_tag checkin_it_wish_path(wish), remote: true, class: "js-toggler-form unstarred js-star-button" do %>
                <%= button_tag class: "minibutton with-count js-toggler-target star-button", id: dom_id(wish, "checkin_or_checkout") do %>
                  <i class="fi-check"></i><span>&nbsp;帮 Ta 实现</span>
                <% end %>

                <%= link_to wish.followers_by_type_count(:User), followers_by_user_wish_path(wish), class: "social-count js-social-count" %>
              <% end %>
            <% else %>
              <%= form_tag checkout_it_wish_path(wish), method: :delete, remote: true, class: "js-toggler-form unstarred js-star-button" do %>
                <%= button_tag class: "minibutton with-count js-toggler-target star-button", id: dom_id(wish, "checkin_or_checkout") do %>
                  <i class="fi-check"></i><span>&nbsp;取消帮 Ta 实现</span>
                <% end %>

                <%= link_to wish.followers_by_type_count(:User), followers_by_user_wish_path(wish), class: "social-count js-social-count" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= paginate @wishes %>
