<% set_meta_tags :title => "心愿卡片" %>

<h2>有什么心愿，我们一起来实现！
  <span class="span_callout">&nbsp;&nbsp;&nbsp;&nbsp;...&nbsp;&nbsp;
    ..<i class="fa fa-paper-plane"></i>
  </span>
</h2>

<h3 class="subheader"><%= sanitize @active_wish.content, tags: %w(br p) %></h3>

<div>
  <h4 id="joyride"><%= @active_wish.username %></h4>
  <p class="so-awesome" id="numero2"><%= @active_wish.created_at.strftime("%a, %d %b %Y %T") %></p>

  <% if user_signed_in? && current_user.following?(@active_wish) %>
    <%= render 'wishes/spurn_active', wish: @active_wish %>
  <% else %>
    <%= render 'wishes/got_active', wish: @active_wish %>
  <% end %>
</div>

<hr>

<div class="testimonial-wrap">
  <% @wishes.each_slice(2) do |wishes| %>
    <div class="row"  data-equalizer>
      <% wishes.each do |wish| %>
        <div class="large-6 columns testimonial" data-equalizer-watch>
          <div class="quote panel callout radius">
            <p><%= sanitize wish.content, tags: %w(br p) %></p>
          </div>

          <div class="student">
            <div class="photo">
              <%= link_to wish.user do %>
                <%= image_tag wish.user.avatar_url(:thumb) %>
              <% end %>
            </div>
            <p class="wish-username"><%= wish.username %>

            <%#= button_tag class: "minibutton js-toggler-target star-button", id: dom_id(wish) do %>
              <!-- 关注 -->
            <%# end %>

            <p class="wish-updated_at"> <i class="fi-clock"></i>&nbsp;<%= time_ago_in_words wish.updated_at %> 前</p>

            <section id="<%= dom_id(wish, 'got_or_spurn') %>">
              <% if user_signed_in? && current_user.following?(wish) %>
                <%= render 'wishes/spurn_it', wish: wish %>
              <% else %>
                <%= render 'wishes/got_it', wish: wish %>
              <% end %>
            </section>

            <section id="<%= dom_id(wish, 'checkin_or_checkout') %>">
              <% if user_signed_in? && UserWish.exists?(user_id: current_user.id, wish_id: wish.id) %>
                <%= render 'wishes/checkout', wish: wish %>
              <% else %>
                <%= render 'wishes/checkin', wish: wish %>
              <% end %>
            </section>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= paginate @wishes %>
