<h2>心愿还是要有的，万一实现了呢？！</h2>

<h3 class="subheader"><%= sanitize @active_wish.content, tags: %w(br p) %></h3>

<div>
  <h4 id="joyride"><%= @active_wish.username %></h4>
  <p class="so-awesome" id="numero2">Wed, 28 Jan 2015 12:10:23</p>

  <% if user_signed_in? && current_user.following?(@active_wish) %>
    <%= link_to '已加到心愿卡', spurn_it_wish_path(@active_wish), remote: true, method: :delete, class: "secondary button" %>
  <% else %>
    <%= link_to '添加到心愿卡', got_it_wish_path(@active_wish), remote: true, method: :post, class: "secondary button" %>
  <% end %>
</div>

<hr>

<div class="testimonial-wrap">
  <% @wishes.each_slice(2) do |wishes| %>
    <div class="row"  data-equalizer>
      <% wishes.each do |wish| %>
        <div class="large-6 columns testimonial" data-equalizer-watch>
          <div class="quote">
            <p><%= sanitize wish.content, tags: %w(br p) %></p>
          </div>

          <div class="student">
            <div class="photo"> </div>
            <p><%= wish.username %>
            <a href="#" class="fancy radius button tiny">关注</a></p>
            <p> <i class="fi-clock"></i> <%= time_ago_in_words wish.updated_at %></p>

            <% if user_signed_in? && current_user.following?(wish) %>
              <%= form_tag spurn_it_wish_path(wish), remote: true, method: :delete, class: "js-toggler-form unstarred js-star-button" do %>
                <%= button_tag class: "minibutton with-count js-toggler-target star-button", id: dom_id(wish) do %>
                  <i class="fi-star"></i><span>已加到心愿卡</span>
                <% end %>

                <%= link_to wish.followers_by_type_count(:User), followers_by_user_wish_path(wish), class: "social-count js-social-count" %>
              <% end %>
            <% else %>
              <%= form_tag got_it_wish_path(wish), remote: true, class: "js-toggler-form unstarred js-star-button" do %>
                <%= button_tag class: "minibutton with-count js-toggler-target star-button", id: dom_id(wish) do %>
                  <i class="fi-star"></i><span>添加到心愿卡</span>
                <% end %>

                <%= link_to wish.followers_by_type_count(:User), followers_by_user_wish_path(wish), class: "social-count js-social-count" %>
              <% end %>
            <% end %>

            <%= form_tag "check_it_wish_path(wish)", remote: true, class: "js-toggler-form unstarred js-star-button" do %>
              <%= button_tag class: "minibutton with-count js-toggler-target star-button", id: dom_id(wish) do %>
                <i class="fi-check"></i><span>帮他实现</span>
              <% end %>

              <%= link_to wish.followers_by_type_count(:User), followers_by_user_wish_path(wish), class: "social-count js-social-count" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= paginate @wishes %>
