<h2>心愿还是要有的，万一实现了呢？！</h2>

<h3 class="subheader"><%= sanitize @active_wish.content, tags: %w(br p) %></h3>

<div>
  <h4 id="joyride"><%= @active_wish.username %></h4>
  <!-- <h5 class="so-awesome" id="numero1">Build Joyride with HTML</h5> -->

  <p class="so-awesome" id="numero2">Wed, 28 Jan 2015 12:10:23</p><!--stops-->

  <a class="secondary button" id="start-jr" name="start-jr">添加到心愿卡</a>
</div>


<hr>

<div class="testimonial-wrap">
  <% @wishes.each_slice(2) do |wishes| %>
    <div class="row"  data-equalizer>
      <% wishes.each do |wish| %>
        <div class="large-6 columns testimonial" data-equalizer-watch>
          <div class="quote">
            <p>
              <%= sanitize wish.content, tags: %w(br p) %>
            </p>
          </div>
          <div class="student">
            <div class="photo"> </div>
            <p><%= wish.username %></p>
        <a href="#" class="fancy radius button">关注</a>
            <p>Important person, some Company</p>
    <%= time_ago_in_words wish.updated_at %>

          添加到心愿卡<br>
      帮他实现
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>              

<%= paginate @wishes %>
