<% set_meta_tags :title => "申请学生" %>

<div class="row results">
  <div class="large-12 columns ">
    <div class="row">
      <div class="large-9 columns">
        <p> 以下用户希望您能成为他们的导师。已经批准总人数：<span class="label" id="approve_apply_students_size"><%= Apply.approved.where(mentor_id: current_user.id).size %></span>&nbsp;当前申请人数: <span class="label info" id="pending_apply_students_size"><%= @applies.size %></span> </p>
      </div>
      <div class=" large-3 columns ">
        <select name="sortOptions">
          <option value="sortby">按条件过滤</option>
          <option value="author">未处理</option>
          <option value="cats">已同意</option>
          <option value="title">已拒绝</option>
        </select>
      </div>
    </div>
    <!-- <div class="row"> -->
        <% @applies.each do |apply| %>
      <div class="search-results large-6 columns end ">
          <div id="<%= dom_id apply.apply_student %>">
            <div class="large-2 columns">
              <p>
                <%= link_to apply.apply_student do %>
                  <span> </span>
                  <%= image_tag apply.apply_student.avatar_url(:medium), class: 'thumb_avatar', alt: apply.apply_student.username %>
                <% end %>

                <%#= render 'shared/want_mentor_button', user: apply.apply_student %>

                <br>
                <%= apply.apply_student.username %>
                <br>
                <%= apply.apply_student.chinese_gender %>
              </p>

              <p>
                关注：<%= apply.apply_student.following_users_count %>
                <br>
                粉丝：<%= apply.apply_student.count_user_followers %>
                <%= render "users/user_tag_list", user: apply.apply_student %>
              </p>

              <!-- <p> -->
                <!-- 个性签名：<%#= apply.apply_student.info %> -->
              <!-- </p> -->
            </div>
            <div class="large-10 columns">
              <div class="row">
                <div class=" large-9 columns">
                  <h5><%= apply.info %></h5>
                  <!-- <p><a href="#">回复</a></p> -->
                </div>
                <div class=" large-3 columns">
                  <%= link_to user_approve_apply_path(apply.apply_student), remote: true, method: :put, class: "google button blue expand medium" do %>
                    <span>同意</span>
                  <% end %>
                  <%= link_to user_refuse_apply_path(apply.apply_student), remote: true, method: :put, class: "google button expand medium" do %>
                    <span>拒绝</span>
                  <% end %>
                </div>
                <div class="row">
                  <div class=" large-12 columns">
                    <ul class="large-block-grid-2">
                      <li>
                        <ul>
                          <li><strong>加入时间:</strong>&nbsp;<%= apply.apply_student.created_at.strftime "%F" %></li>
                          <li><strong>课程数目:</strong>&nbsp;<%= apply.apply_student.subjects.size %></li>
                          <li><strong>课程集合数目: </strong>&nbsp;<%= apply.apply_student.posts.size %></li>
                          <li><strong>话题讨论数目: </strong>&nbsp;<%= apply.apply_student.topics.size %></li>
                          <li><strong>心愿卡片数目: </strong>&nbsp;<%= apply.apply_student.wishes.size %></li>
                        </ul>
                      </li>
                      <li>
                        <ul>
                          <li><strong>导师数目:</strong>&nbsp;<%= UserRelationship.where(recipient_id: apply.apply_student.id).size %></li>
                          <li><strong>学生数目:</strong>&nbsp;<%= UserRelationship.where(owner_id: apply.apply_student.id).size %></li>
                          <li><strong>等待处理的申请:</strong>&nbsp;<%= Apply.where(user_id: apply.apply_student.id).pending.size %></li>
                          <li><strong>被拒绝的申请:</strong>&nbsp;<%= Apply.where(user_id: apply.apply_student.id).refused.size %></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
      </div>
        <% end %>

    <!-- </div> -->
    <%= paginate @applies %>
  </div>
</div>
