<div class="row results">
  <div class="large-12 columns ">
    <div class="row">
      <div class="large-9 columns">
        <p> 以下用户希望您能成为他们的导师。当前申请总人数: <span class="label info" id="pending_apply_students_size"><%= @applies.size %></span></p>
      </div>
      <div class=" large-3 columns ">
        <select name="sortOptions">
          <option value="sortby">Sort By</option>
          <option value="cats">Cats</option>
          <option value="title">Title</option>
          <option value="author">Author</option>
          <option value="mrecats">More Cats</option>
        </select>
      </div>
    </div>
    <div class="search-results">
      <% @applies.each do |apply| %>
        <div class="row", id="<%= dom_id apply.apply_student %>">
          <div class="large-2 columns">
            <%= link_to apply.apply_student do %>
              <span> </span>
              <%= image_tag apply.apply_student.avatar_url(:medium), alt: apply.apply_student.username %>
            <% end %>
          </div>
          <div class="large-10 columns">
            <div class="row">
              <div class=" large-9 columns">
                <h5><%= apply.info %></h5>
                <p><a href="#">回复</a></p>
              </div>
              <div class=" large-3 columns">
                <%= link_to user_approve_apply_path(apply.apply_student), remote: true, method: :put, class: "google button blue expand medium" do %>
                  <span>同意</span>
                <% end %>
                <%= link_to user_refuse_apply_path(apply.apply_student), remote: true, method: :put, class: "google button expand medium" do %>
                  <span>拒绝</span>
                <% end %>
              </div>
              <div class="row">
                <div class=" large-12 columns">
                  <ul class="large-block-grid-2">
                    <li>
                      <ul>
                        <li><strong>名字: </strong><%= apply.apply_student.username %></li>
                        <li><strong>加入时间:</strong> 2008</li>
                        <li><strong>课程数目:</strong> Lorem ipsum</li>
                        <li><strong>课程集合数目: </strong> cats cats cats</li>
                        <li><strong>话题讨论数目: </strong> cats cats cats</li>
                        <li><strong>心愿卡片数目: </strong> cats cats cats</li>
                        <li><strong>关注数目: </strong> cats cats cats</li>
                        <li><strong>粉丝数目: </strong> cats cats cats</li>
                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li><strong>导师数目:</strong> so wow</li>
                        <li><strong>学生数目:</strong> ipsum kitty</li>
                        <li><strong>请求被同意次数:</strong> all the cats</li>
                        <li><strong>请求被拒绝次数:</strong> all the cats</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
      <% end %>
    </div>
    <a href="#" class="button right"> show more results &raquo;</a>
  </div>
</div>
