<% set_meta_tags :title => "分类导航" %>

<% @catalogs.each_slice(3) do |catalogs| %>
  <div class="row" data-equalizer>
    <% catalogs.each do |catalog| %>
      <div class="small-12 large-4 columns" data-equalizer-watch>
        <section>
          <!-- <h5> -->
          <% if catalog.icon.present? %>
            <i class="fi-<%= catalog.icon %> catalog_icon"></i>
          <% else %>
            <i class="fi-credit-card catalog_icon"></i>
          <% end %>
            <span style="margin-left: 1.5rem;"><%= link_to catalog.name, catalog %></span>
          <!-- </h5> -->
        </section>

        <% if can? :update, catalog %>
          <%= link_to 'Edit', edit_catalog_path(catalog) %>
        <% end %>
        <% if can? :delete, catalog %>
          <%= link_to 'Destroy', catalog, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

        <hr style="margin-top: 0.25rem;">
        <p><%= catalog.info %></p>
      </div>
    <% end %>
  </div>
<% end %>
