<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class="tabbable">
  <ul class="tabs" data-tab>
    <li class="active tab-title">
      <a data-toggle="tab" href="#edit-basic">
        <i class="green icon-edit bigger-125"></i>
        基本信息
      </a>
    </li>

    <li class="tab-title">
      <a data-toggle="tab" href="#edit-password">
        <i class="blue icon-key bigger-125"></i>
        密码重置
      </a>
    </li>
  </ul>

  <div class="tabs-content profile-edit-tab-content">
    <div id="edit-basic" class="content in active">
      <%= form_for @user, url: update_basic_user_path(@user), method: :put do |f| %>
        <h4 class="header blue bolder smaller">General</h4>

        <div class="columns large-12">
          <div class="columns large-4">
            <%= f.file_field :avatar %>
          </div>

          <div class="vspace"></div>

          <div class="columns large-8">
            <div class="control-group">
              <%= f.label :username, "用户名" %>

              <div class="controls">
                <%= f.text_field :username, placeholder: "Username" %>
              </div>
            </div>
          </div>

          <div class="control-group columns">
            <%= f.label :tag_list, "个人标签（多个标签之间用逗号分隔）" %>

            <div class="controls">
              <%= f.text_area :tag_list %>
            </div>
          </div>

          <div class="control-group columns">
            <%= f.label :info, "个人简介" %>

            <div class="controls">
              <%= f.text_area :info %>
            </div>
          </div>
        </div>
        <hr />

        <% @user.build_user_body unless @user.user_body.present? %>

        <div class="columns large-12">
          <%= f.fields_for :user_body do |ff| %>
            <div class="control-group">
              <%= ff.label :birth_date, "生日" %>

              <div class="controls">
                <div class="input-append">
                  <%= ff.datetime_field :birth_date %>
                  <span class="add-on">
                    <i class="icon-calendar"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">性别</label>

              <div class="controls">
                <div class="space-2"></div>

                <label class="inline">
                  <%= ff.radio_button :gender, "male" %>
                  <span class="lbl"> 男</span>
                </label>

                &nbsp; &nbsp; &nbsp;
                <label class="inline">
                  <%= ff.radio_button :gender, "female" %>
                  <span class="lbl"> 女</span>
                </label>
              </div>
            </div>

            <div class="space"></div>
            <h4 class="header blue bolder smaller">Contact</h4>

            <div class="control-group">
              <%= ff.label :website, "个人网站" %>

              <div class="controls">
                <span class="input-icon input-icon-right">
                  <%= ff.text_field :website %>
                  <i class="icon-globe"></i>
                </span>
              </div>
            </div>

            <div class="control-group">
              <%= ff.label :phone, "电话号码" %>

              <div class="controls">
                <span class="input-icon input-icon-right">
                  <%= ff.text_field :phone %>
                  <i class="fa fa-phone icon-flip-horizontal"></i>
                </span>
              </div>
            </div>

            <div class="space"></div>
            <h4 class="header blue bolder smaller">Social</h4>

            <div class="control-group">
              <%= ff.label :weibo, "微博" %>

              <div class="controls">
                <span class="input-icon">
                  <%= ff.text_field :weibo %>
                  <i class="icon-facebook"></i>
                </span>
              </div>
            </div>

            <div class="control-group">
              <%= ff.label :tqq_weibo, "腾讯微博" %>

              <div class="controls">
                <span class="input-icon">
                  <%= ff.text_field :tqq_weibo %>
                  <i class="icon-twitter"></i>
                </span>
              </div>
            </div>
          <% end %>
        </div>

        <div><%= f.submit "提交", class: "blue tiny button radius" %></div>
      <% end %>
    </div>

    <div id="edit-password" class="content">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div>
        <%= f.label :current_password, t("devise.current_password") %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
          </div>

        <div>
        <%= f.label :password, "新密码" %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
          </div>

        <div>
        <%= f.label :password_confirmation, t("devise.password_confirmation") %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>


        <div><%= f.submit "提交", class: "blue tiny button radius" %></div>
      <% end %>
    </div>
  </div>
</div>
