<% @snippet = Snippet.new %>

<%= form_for([@topic, @snippet]) do |f| %>
  <% if @snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

      <ul>
      <% @snippet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field large-12 columns">
    <%= f.label :name, "商品名称:" %><br>
    <%= f.text_field :name, required: true, placeholder: "在这里输入商品名称" %>
  </div>
  <div class="field large-3 columns">
    <%= f.label :spec, "规格:" %><br>
    <%= f.text_field :spec, rows: 5, required: true, placeholder: "规格" %>
  </div>
  <div class="field large-3 columns">
    <%= f.label :color, "颜色:" %><br>
    <%= f.text_field :color, rows: 5, required: true, placeholder: "颜色" %>
  </div>
  <div class="field large-3 columns">
    <%= f.label :per_price, "单价（元）:" %><br>
    <%= f.number_field :per_price, rows: 5, required: true, placeholder: "价格" %>
  </div>
  <div class="field large-3 columns">
    <%= f.label :quantity, "数量:" %><br>
    <%= f.number_field :quantity, rows: 5, required: true, placeholder: "数量" %>
  </div>
  <div class="field large-12 columns">
    <%= f.label :address, "收货地址:" %><br>
    <%= f.text_field :address, rows: 5, required: true %>
  </div>

  <div class="field large-12 columns">
    <%= f.label :body, "备注说明:" %><br>
    <%= f.text_area :body, rows: 5, required: true %>
  </div>

  <div class="field large-12 columns">
    <%= f.label :website, "商品链接:" %><br>
    <%= f.text_field :website, rows: 5, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "提交", class: "blue tiny button radius float-right" %>
  </div>
<% end %>
