<div class="row">  
  <%= link_to @topic.title, @topic %> 共有 <%= @topic.snippets.count %> 个跟单, <%= @topic.snippets.sum(:quantity) %> 件商品。
  <hr class="dashed"></hr>

  <% @snippets.each_slice(3) do |snippets| %>
    <% snippets.each do |snippet| %>
      <div class="small-4 columns">
        <div class="field">
          商品名称<br>
          <%= snippet.name %>
        </div>
        <div class="field">
          规格<br>
          <%= snippet.spec %>
        </div>
        <div class="field">
          颜色<br>
          <%= snippet.color %>
        </div>
        <div class="field">
          单价（元）<br>
          <%= snippet.per_price %>
        </div>
        <div class="field">
          数量<br>
          <%= snippet.quantity %>
        </div>
        <div class="field">
          收货地址<br>
          <%= snippet.address %>
        </div>

        <div class="field">
          备注说明<br>
          <%= snippet.body %>
        </div>
        <div class="field">
          参考网站链接<br>
          <%= snippet.website %>
        </div>

        <%= link_to "同意", approve_snippet_path(snippet), method: :put, remote: true %>
        <%= link_to "拒绝", refuse_snippet_path(snippet), method: :put, remote: true %>
      </div>
    <% end %>
    <hr class="dashed"></hr>
  <% end %>

  <%= paginate @snippets %>
</div>
