<div class="row">
  <div class="margin-content">
    <%= render "snippets/statitics_info", topic: @topic %>
    
    <div class="large-12 columns margin-content snippet-list">
      <% @snippets.each_slice(3) do |snippets| %>
        <% snippets.each do |snippet| %>
          <div class="large-4 small-4 columns end large-offset-1">
            <div class="approve-status" id="<%= dom_id(snippet) %>">
              <%= cn_for_snippet_status(snippet.status) %>
            </div>
            <div class="snippet-content">
              <div class="field">
                商品名称:
                <span><%= snippet.name %></span>
              </div>
              <div class="field">
                规格:
                <span><%= snippet.spec %></span>
              </div>
              <div class="field">
                颜色:
                <span><%= snippet.color %></span>
              </div>
              <div class="field">
                单价（元）:
                <span><%= snippet.per_price %></span>
              </div>
              <div class="field">
                数量:
                <span><%= snippet.quantity %></span>
              </div>
              <div class="field">
                收货地址:
                <span><%= snippet.address %></span>
              </div>

              <div class="field">
                备注说明:
                <span><%= snippet.body %></span>
              </div>
              <div class="field">
                参考网站链接:
                <span><%= snippet.website %></span>
              </div>
              
              <div class="buttons margin-content" id="<%= dom_id(snippet, 'manage') %>">
                <% if snippet.pendding? %>
                  <%= link_to "同意", approve_snippet_path(snippet), method: :put, remote: true, data: { confirm: "同意后不可再更改，你确定吗？" }, class: 'button tiny' %>
                  <%= link_to "拒绝", refuse_snippet_path(snippet), method: :put, remote: true, data: { confirm: "拒绝后不可再更改，你确定吗？" }, class: 'button tiny alert' %>
                <% else %>
                  <%= render "snippets/disabled_manage_links" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <!-- <hr class="dashed"></hr> -->
      <% end %>
    </div>
  </div>

  <%= paginate @snippets %>
</div>

