<div class="row">
  <div class="field">
    商品名称<br>
    <%= @snippet.name %>
  </div>
  <div class="field">
    规格<br>
    <%= @snippet.spec %>
  </div>
  <div class="field">
    颜色<br>
    <%= @snippet.color %>
  </div>
  <div class="field">
    单价（元）<br>
    <%= @snippet.per_price %>
  </div>
  <div class="field">
    数量<br>
    <%= @snippet.quantity %>
  </div>
  <div class="field">
    收货地址<br>
    <%= @snippet.address %>
  </div>

  <div class="field">
    备注说明<br>
    <%= @snippet.body %>
  </div>
</div>