<div class="row large-3 columns" id="comments">
  <% @comments.each do |comment| %>
    <div class="comment" id="<%= dom_id comment %>">
      <section class="top">
        <h6 class="byline">
          <%= link_to comment.user do %>
            <%= image_tag comment.user.avatar_url(:mini) %>
          <% end %>

          <%= link_to comment.user.username, comment.user %>
          <% if comment.user == @topic.user %>
            <span class="label"> 作者</span>
          <% end %>

          <small>评论于
            <span class="data">
              <%= time_ago_in_words comment.created_at %>前
            </span>
          </small>
        </h6>
      </section>

      <section class="content">
        <%= sanitize markdown_for(comment.content), tags: %w(br p) %>
      </section>

      <section class="actions">
        <ul class="inline-list">
          <!-- <li><a href="#">喜欢 (3)</a></li> -->
          <% if user_signed_in? && current_user.liking_it?(comment.id) %>
            <li>
              <%= render 'liker_comments/unlike_it', comment: comment %>
            </li>
          <% else %>
            <li>
              <%= render 'liker_comments/like_it', comment: comment %>
            </li>
          <% end %>

          <!-- <li><a href="#">分享</a></li> -->
          <li>
            <%= link_to "回复", new_comment_reply_path(comment), remote: true %>
          </li>
        </ul>
      </section>

      <% comment.replies.each do |reply| %>
        <div class="indented comment push" id="<%= dom_id reply %>">
          <section class="top">
            <h6 class="byline">
              <a href="#">
                <i class="icon"></i>
                <%= reply.user.username %>
                <% if reply.user == @topic.user %>
                  <span class="label"> 作者</span>
                <% end %>
              </a>

              <small>回复于&nbsp;
                <span class="data">
                  <%= time_ago_in_words reply.created_at %> 前
                </span>
              </small>
              <span class="reply">
                <%= link_to "回复", new_comment_reply_path(comment), remote: true %>
              </span>
            </h6>
          </section>

          <section class="content">
            <p><%= reply.content %></p>
          </section>
        </div>
      <% end %>
    </div>
    <hr class="dashed">
  <% end %>
</div>
