<div class="row" id="comments">
  <% @comments.each do |comment| %>
    <div class="comment" id="<%= dom_id comment %>">
      <section class="top">
        <h6 class="byline">
          <a href="#">
            <i class="icon"></i>
            <%= comment.user.username %>
            <% if comment.user == @topic.user %>
              <span class="label"> 作者</span>
            <% end %>
          </a>

          <small>said 
            <span class="data">
              <%= time_ago_in_words comment.created_at %>
            </span>
          </small>
        </h6>
      </section>

      <section class="content">
        <%= sanitize markdown_for(comment.content), tags: %w(br p) %>
      </section>

      <section class="actions">
        <ul class="inline-list">
          <li><a href="#">Like (3)</a></li>
          <li><a href="#">Share</a></li>
          <li>
            <%= link_to "Reply", new_comment_reply_path(comment), remote: true %>
          </li>
        </ul>
      </section>

      <% comment.replies.each do |reply| %>
        <div class="indented comment push" id="<%= dom_id reply %>">
          <section class="top">
            <h6 class="byline">
              <a href="#">
                <i class="icon"></i>
                <%= reply.user.username %>
                <% if reply.user == @topic.user %>
                  <span class="label"> 作者</span>
                <% end %>
              </a>

              <small>said&nbsp;
                <span class="data">
                  <%= time_ago_in_words reply.created_at %>
                </span>
              </small>
              <span class="reply">
                <%= link_to "Reply", new_comment_reply_path(comment), remote: true %>
              </span>
            </h6>
          </section>

          <section class="content">
            <p><%= reply.content %></p>
          </section>
        </div>
      <% end %>
    </div>
    <hr class="dashed">
  <% end %>
</div>
