<%= form_for @topic do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field large-12 columns">
    <%= f.label :title, "拼单标题" %>
    <%= f.text_field :title, required: true %>
  </div>

  <div class="field field-radios large-12 columns">
    <%= f.label :category, "拼单方式" %>
    <span><%= radio_button("topic", "category", "pi_fa") %>&nbsp;拼单</span>
    <span><%= radio_button("topic", "category", "ding_zhuo") %>&nbsp;定做</span>
    <span><%= radio_button("topic", "category", "hai_tao") %>&nbsp;海淘</span>
  </div>

  <div class="field field-radios large-12 columns">
    <%= f.label :invoice, "购买发票" %>
    <span><%= radio_button("topic", "invoice", "yes") %>&nbsp;提供发票</span>
    <span><%= radio_button("topic", "invoice", "no") %>&nbsp;无发票</span>
    <span><%= radio_button("topic", "invoice", "not_sure") %>&nbsp;不确定</span>
  </div>

  <div class="field large-12 columns">
    <%= f.label :deadline, "截止日期" %>
    <%= f.text_field :deadline, id: "datepicker" %>
  </div>

  <div class="field large-12 columns">
    <%= f.label :rate, "手续费" %>
    <%= f.text_field :rate, required: true %>
  </div>

  <div class="field large-12 columns">
    <%= f.label :freight_source, "拼单货源" %>
    <%= f.select :freight_source, Topic.freight_sources.map{|key, _| [cn_for_freight_source(key), key]}, required: true, prompt: "请选择" %>
  </div>

  <div class="field large-12 columns">
    <%= f.label :body, "拼单说明" %>
    <!-- <div id="wmd-button-bar"></div> -->
    <%= f.text_area :body, rows: 15, required: true, id: "wmd-input" %>
    <!-- <textarea name="content" data-provide="markdown" rows="10"></textarea> -->

    <style type="text/css">
      div.btn-group {display: inline-block;}
    </style>
  </div>

  <div id="preview"></div>

  <div class="field large-12 columns">
    <%= f.label :tag_list, "海拼关键词(标签)" %>
    <%= f.text_field :tag_list, required: true %>
  </div>

  <div class="field large-12 columns">
    <%= f.label :catalog_id, "品类" %>
    <%= f.select :catalog_id, Catalog.all.collect { |p| [ p.name, p.id ] }, prompt: "请选择" %>
  </div>

  <div class="actions large-12 columns">
    <%= f.submit "提交", class: "blue tiny button radius" %>
  </div>
<% end %>

<script>
    var picker = new Pikaday({
      field: document.getElementById('datepicker'),
      format: 'D MMM YYYY',
      onSelect: function() {
        console.log(this.getMoment().format('Do MMMM YYYY'));
      }
    });
</script>
