<%= stylesheet_link_tag "simditor/simditor" %>

<%= form_for @topic do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field large-12 columns">
    <%= f.label :title, "拼单标题" %>
    <%= f.text_field :title, required: true %>
  </div>

  <div class="field field-radios large-12 columns">
    <%= f.label :category, "拼单方式" %>
    <label class="radio-button-field"><%= radio_button("topic", "category", "pi_fa",required: true) %>&nbsp;拼单</label>
    <label class="radio-button-field"><%= radio_button("topic", "category", "ding_zhuo") %>&nbsp;定做</label>
    <label class="radio-button-field"><%= radio_button("topic", "category", "hai_tao") %>&nbsp;海淘</label>
  </div>

  <div class="field field-radios large-12 columns">
    <%= f.label :invoice, "购买发票" %>
    <label class="radio-button-field"><%= radio_button("topic", "invoice", "yes",required: true) %>&nbsp;提供发票</label>
    <label class="radio-button-field"><%= radio_button("topic", "invoice", "no") %>&nbsp;无发票</label>
    <label class="radio-button-field"><%= radio_button("topic", "invoice", "not_sure") %>&nbsp;不确定</label>
  </div>

  <div class="field large-12 columns">
    <%= f.label :deadline, "截止日期" %>
    <%= f.datetime_field :deadline, id: "datepicker" %>
  </div>

  <div class="field large-12 columns">
    <%= f.label :rate, "手续费" %>
    <%= f.text_field :rate, required: true %>
  </div>

  <div class="field large-12 columns">
    <%= f.label :freight_source, "拼单货源"%>
    <%= f.select :freight_source, Topic.freight_sources.map{|key, _| [cn_for_freight_source(key), key]}, required: true, prompt: "请选择" %>
  </div>

  <div class="field large-12 columns">
    <%= f.label :body, "拼单说明" %>
    <!-- <div id="wmd-button-bar"></div> -->
    <%= f.text_area :body, rows: 15, required: true, id: "editor", placeholder: "这里输入内容" %>
    <!-- <textarea name="content" data-provide="markdown" rows="10"></textarea> -->

    <style type="text/css">
      div.btn-group {display: inline-block;}
    </style>
  </div>

  <div id="preview"></div>

  <!-- <div class="field large-12 columns">
    <%#= f.label :tag_list, "拼单关键词(标签)" %>
    <%#= f.text_field :tag_list, required: true %>
  </div> -->

  <div class="field large-12 columns">
    <%= f.label :catalog_id, "品类" %>
    <%= f.select :catalog_id, Catalog.all.collect { |p| [ p.name, p.id ] }, prompt: "请选择" %>
  </div>

  <div class="field large-12 columns">
    <%= f.label :website, "参考网址链接" %>
    <%= f.text_field :website, required: true %>
  </div>

  <div class="actions large-12 columns">
    <%= f.submit "提交", class: "blue tiny button radius" %>
  </div>
<% end %>

<script>
    var config = {
      field: document.getElementById('datepicker'),
      format: 'YYYY-MM-DD',
      onSelect: function() {
        console.log(this.getMoment().format('YYYY-MM-DD'));
      } 
    }
    if (!config["field"].value) {
      config["minDate"]=new Date();
    };
    var picker = new Pikaday(config);
</script>

<%= javascript_include_tag "simditor/simditor" %>
<%= javascript_include_tag "simditor_config" %>
