<%= form_for @topic do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "拼单标题" %><br>
    <%= f.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= f.label :mode, "拼单方式" %><br>
    <%= f.text_field :mode, required: true %>
  </div>

  <div class="field">
    <%= f.label :invoice, "购买发票" %><br>
    <%= f.text_field :invoice, required: true %>
  </div>

  <div class="field">
    <%= f.label :deadline, "截止日期" %><br>
    <%= f.text_field :deadline, required: true %>
  </div>

  <div class="field">
    <%= f.label :rate, "手续费" %><br>
    <%= f.text_field :rate, required: true %>
  </div>

  <div class="field">
    <%= f.label :body, "拼单说明" %><br>
    <!-- <div id="wmd-button-bar"></div> -->
    <%= f.text_area :body, rows: 15, required: true, id: "wmd-input" %>
    <!-- <textarea name="content" data-provide="markdown" rows="10"></textarea> -->

    <style type="text/css">
      div.btn-group {display: inline-block;}
    </style>
  </div>

  <div id="preview"></div>

  <div class="field">
    <%= f.label :tag_list, "海拼关键词(标签)" %><br>
    <%= f.text_field :tag_list, required: true %>
  </div>

  <%= f.hidden_field :category %>

  <div class="actions">
    <%= f.submit "提交", class: "blue tiny button radius" %>
  </div>
<% end %>

<script type="text/javascript">
  // $(function(){
    // new WMDEditor({
      // NOTE：偏移了，所以在界面上显示不是那么明显
      // helpLink: "http://daringfireball.net/projects/markdown/syntax"
    // });
  // })
</script>