<%= form_for @topic do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, t("topics.title") %><br>
    <%= f.text_field :title, required: true %>
  </div>
  <div class="field">
    <%= f.label :body, t("topics.body") %><br>
    <div id="wmd-button-bar"></div>
    <%= f.text_area :body, rows: 15, required: true, id: "wmd-input" %>
  </div>

  <div id="preview"></div>

  <div class="field">
    <%= f.label :tag_list, "标签：(多个标签之间用逗号分隔)" %><br>
    <%= f.text_field :tag_list, required: true %>
  </div>

  <%= f.hidden_field :category %>

  <div class="actions">
    <%= f.submit "提交", class: "blue tiny button radius" %>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
    new WMDEditor({
      // NOTE：偏移了，所以在界面上显示不是那么明显
      helpLink: "http://daringfireball.net/projects/markdown/syntax"
    });
  })
</script>