<%#= stylesheet_link_tag 'docs/base' %>
<%#= stylesheet_link_tag 'docs/dark' %>
<%#= stylesheet_link_tag 'docs/clean' %>

<%= form_for @topic do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "拼单标题" %><br>
    <%= f.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= f.label :category, "拼单方式" %><br>
    <%= radio_button("topic", "category", "pi_fa") %>&nbsp;拼单
    <%= radio_button("topic", "category", "ding_zhuo") %>&nbsp;定做
    <%= radio_button("topic", "category", "hai_tao") %>&nbsp;海淘
  </div>

  <div class="field">
    <%= f.label :invoice, "购买发票" %><br>
    <%= radio_button("topic", "invoice", "yes") %>&nbsp;提供发票
    <%= radio_button("topic", "invoice", "no") %>&nbsp;无发票
    <%= radio_button("topic", "invoice", "not_sure") %>&nbsp;不确定
  </div>
  
  <div class="field">
    <%= f.label :deadline, "截止日期" %><br>
    <%= f.text_field :deadline, id: "simple-calendar" %>
  </div>

  <div class="span8">
          <form class="form-inline">
            <input class="inputDate" id="inputDate" value="">
            <label id="closeOnSelect" class="checkbox"><input type="checkbox" checked="checked"> Close on selection</label>
          </form>
        </div>

  <div class="field">
    <%= f.label :rate, "手续费" %><br>
    <%= f.text_field :rate, required: true %>
  </div>

  <div class="field">
    <%= f.label :freight_source, "拼单货源" %><br>
    <%= f.text_field :freight_source, required: true %>
  </div>

  <div class="field">
    <%= f.label :body, "拼单说明" %><br>
    <!-- <div id="wmd-button-bar"></div> -->
    <%= f.text_area :body, rows: 15, required: true, id: "wmd-input" %>
    <!-- <textarea name="content" data-provide="markdown" rows="10"></textarea> -->

    <style type="text/css">
      div.btn-group {display: inline-block;}
    </style>
  </div>

  <div id="preview"></div>

  <div class="field">
    <%= f.label :tag_list, "海拼关键词(标签)" %><br>
    <%= f.text_field :tag_list, required: true %>
  </div>

  <div class="field">
    <%= f.label :catalog_id, "品类" %><br>
    <%= f.select :catalog_id, Catalog.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
  </div>

  <div class="actions">
    <%= f.submit "提交", class: "blue tiny button radius" %>
  </div>
<% end %>

<script>
  $(function(){
    // $('#simple-calendar').DatePicker({
    //   mode: 'single',
    //   inline: true,
    //   onBeforeShow: function(el){
    //     if($('#simple-calendar').val())
    //       $('#simple-calendar').DatePickerSetDate($('#simple-calendar').val(), true);
    //   }
    // });
    $('#inputDate')

    $('#inputDate').DatePicker({
      mode: 'single',
      position: 'right',
      onBeforeShow: function(el){
        if($('#inputDate').val())
          $('#inputDate').DatePickerSetDate($('#inputDate').val(), true);
      },
      onChange: function(date, el) {
        $(el).val((date.getMonth()+1)+'/'+date.getDate()+'/'+date.getFullYear());
        if($('#closeOnSelect input').attr('checked')) {
          $(el).DatePickerHide();
        }
      }
    });

  }); 
</script>