<h4>
  编辑帖子
</h4>

<div class="large-9 columns">
  <%= render 'form' %>
</div>

<div class="large-3 columns">
  <div>
    <h5>新建帖子，并选择类型：</h5>

    <%= link_to new_topic_path(catalog_id: 1000), class: "blue google button" do %>
      <%= content_tag(:strong, '拜师!') %>
    <% end %>
    <br>

    <%= link_to new_topic_path(catalog_id: 1001), class: "orange google button" do %>
      <%= content_tag(:strong, '收徒!') %>
    <% end %>
    <br>

    <%= link_to new_topic_path(catalog_id: 1002), class: "green google button" do %>
      <%= content_tag(:strong, '拜师兼收徒!') %>
    <% end %>
    <br>

    <%= link_to new_topic_path(catalog_id: 1003), class: "purple google button" do %>
      <%= content_tag(:strong, '其它!') %>
    <% end %>
  </div>
</div>
