<style type="text/css">
  .post-count-spacing>li:first-child {
    width: 105px;
  }

  .post-count-spacing>li:last-child {
    width: 80% !important;
    padding-left: 0.9375em;
  }

  ul.toolbar > li {
    display: inline;
  }
</style>

<div class="row posts">
  <div class="large-9 small-12 columns">
    <ul>
      <% @topics.each do |topic| %>
        <div class="row post impressions new">
          <div class="small-12 columns">
            <ul class="post-count-spacing small-block-grid-2 large-block-grid-2">
              <li>
              <div class="post-count new-general with-replies">
                <%= link_to topic.user do %>
                  <div class="post-count-container new-general with-replies">
                    <%= image_tag topic.user.avatar_url(:tiny), class: 'tiny_avatar' %>
                  </div>
                <% end %>
                <div class="total-post-count new total-replies">
                  <%= topic.comments.count %> Replies
                </div>
              </div>
              </li>
              <li>
              <div class="post-description">
                <h4 class="content-title">
                  <%= link_to topic do %>
                    <%= topic.title %>
                  <% end %>
                </h4>
                <p class="author-name">
                By <span class="author">
                  <%= link_to topic.user do %><%= topic.user.username %><% end %>
                </span><span class="by">, last Reply by</span>
                <span class="when">
                  <span class="author">
                    <%= link_to topic.comments.last.try(:user) do %>
                      <%= topic.comments.last.try(:user).try(:username) %>
                    <% end %>
                  </span>
                  <%= time_ago_in_words topic.created_at %>
                </span>
                </p>
                <div class="post-description copy">
            

                  <p class="tags">
                    <% topic.tags.each do |tag| %>
                      <%= link_to tag.name, "javascript:void(0);", class: "tag-container" %>
                    <% end %>
                  </p>
                </div>
              </div>
              </li>
            </ul>
            <hr>
          </div>
        </div>
      <% end %>
    </ul>

    <%= paginate @topics %>
  </div>

  <div class="large-3 columns">
    <div class="install-foundation">
      <h5>推荐关注!</h5>
      <% @users.each do |user| %>
        <p>
        <%= link_to user do %><%= image_tag user.avatar_url(:mini), class: "mini_avatar" %><% end %>
        <strong><%= link_to user do %><%= user.username %><% end %></strong>
        <br>
        <%= user.info %>
        </p>
        <hr class="dashed"></hr>
      <% end %>
    </div>
  </div>
</div>
