<% set_meta_tags :title => "话题讨论" %>


<div class="row">
  <div class="large-7 small-12 columns topic-list">
    <ul>
      <% @topics.each do |topic| %>
        <li class="topic-body">
          <div class="topic-status">
            拼单中
          </div>
          <div class="topic-info large-4 small-8 columns">
            <%= image_tag topic.user.avatar_url(:thumb), class: 'thumb_avatar' %>
            <p class="topic-user">
              <%= topic.user.username %>
            </p>
            <div class="topic-info-detail">            
              <p><%= link_to topic.title, topic %></p>
              <p>
                <span><%= topic.freight_source_to_cn %></span>
                <span><%= topic.catalog.name %></span>
              </p>
              <p>
                截止日期: 
                <%= topic.deadline %>
              </p>
            </div>
            <div class="topic-users-list">
                <span><%= topic.snippets.count %> 个跟单</span>
                <span class="topic-users-list-avatar">
                  <% topic.snippets.limit(10).each do |snippet| %>
                    <%= image_tag snippet.user.avatar_url(:mini) %>
                  <% end %>
                </span>
            </div>
          </div>
          <div class="topic-detail">
            <%= link_to "查看详情", topic, class: "small button" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  
  <div class="large-4 columns topic-list topic-kinds">
    <div class="pindan-kinds">
      <p>拼单类型</p>
      <ul>
        <li><%= link_to "全部", topics_path %></li>
        <li><%= link_to "批发", topics_pi_fa_path %></li>
        <li><%= link_to "定做", topics_ding_zhuo_path %></li>
        <li><%= link_to "海淘", topics_hai_tao_path %></li>
      </ul>
    </div>
    <div class="pindan-supply">
      <p>拼单货源</p>
      <ul>
        <li><%= link_to "全部", topics_path %></li>
        <% Topic.freight_sources.keys.each do |freight_source| %>
          <li>
            <%= link_to cn_for(freight_source), topics_path(freight_source: freight_source) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="product-kind">
      <p>商品种类</p>
      <ul>
        <li><%= link_to "全部", topics_path %></li>

        <% Catalog.all.each do |catalog| %>
          <li>
            <%= link_to catalog.name, topics_path(catalog_id: catalog.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
