<p>
  <h1><%= @topic.title %></h1>
</p>

<p>
  <strong>Created At:</strong>
  <%= @topic.created_at %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @topic.user.username %>
</p>

<p>
  <%= raw(markdown_for @topic.body) %>
</p>

<p class="tags">
  <strong>Tag List:&nbsp;</strong>
  <% @topic.tags.each do |tag| %>
    <%= link_to tag.name, "javascript:void(0);", class: "tag-container" %>
  <% end %>
</p>

<br>

<%# cache @topic do %>
  <section class="panel social-share-section" style="padding: 0">
        &nbsp;
    <%= social_share_button_tag @topic.title %>

    <span class="right">


      <%# unless current_user.followering? @topic %>
        <%= link_to keep_topic_path(@topic), method: :post, remote: true, title: '保持观注', id: "follow_topic" do %>
          <% if user_signed_in? && current_user.keeping?(@topic.id) %>
            <i class="fi-eye red"></i>&nbsp;观注
          <% else %>
            <i class="fi-eye"></i>&nbsp;观注
          <% end %>
        <% end %>
        &nbsp;
      <%# end %>

      <%# unless current_user.keepering? @topic %>
        <%= link_to mark_topic_path(@topic), method: :post, remote: true, title: '默默收藏', id: "keep_topic" do %>
          <% if user_signed_in? && current_user.marking?(@topic.id) %>
            <i class="fi-bookmark red"></i>&nbsp;收藏
          <% else %>
            <i class="fi-bookmark"></i>&nbsp;收藏
          <% end %>
        <% end %>
        &nbsp;
      <%# end %>
    </span>
  </section>
<%# end %>

<% if can? :update, @topic %>
  <%= link_to 'Edit', edit_topic_path(@topic) %>
<% end %>

<% if can? :delete, @topic %>
  <td><%= link_to 'Destroy', @topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<hr>

<%= form_for :comment, url: topic_comments_path(@topic) do |f| %>
  <%= f.text_area :content, rows: 10, required: true %>
  <%= f.submit %>
<% end %>

<hr>

<%= render 'topics/comments' %>
