<% set_meta_tags :title => @topic.title %>
<div class="row pindan-show">
<div class="large-8 columns pindan-user-content">

    <div class="pindan-content clearfix">
      <h3><%= @topic.title %></h3>
      <span class="pindan-status">拼单已完成</span>
      
      <div class="pindan-kinds">
        <div class="pindan-content-kind">
          <p>
            <strong>拼单方式:</strong>
            <%= cn_for_category @topic.category %>
          </p>
          <p>
            <strong>拼单货源:</strong>
            <%= cn_for @topic.freight_source %>
          </p>
          <p>
            <strong>截至日期:</strong>
            <%= @topic.deadline %>
          </p>
        </div>

        <div class="pindan-content-kind">
          <p>
            <strong>购买发票:</strong>
            <%= cn_for_invoice(@topic.invoice) %>
          </p>
          <p>
            <strong>手续费用:</strong>
            <%= cn_for_rate @topic.rate %>
          </p>
          <p>
            <strong>拼单编号:</strong>
            <%= @topic.barcode %>
          </p>
        </div>

        <div class="pindan-content-kind">
          <p>
            <strong>商品类型:</strong>
            <%= @topic.catalog.name %>
          </p>
          <p>
            <strong>坐标地址:</strong>
            <%= cn_for(@topic.freight_source) %>
          </p>
        </div>
      </div>
      <div class="pindan-content-info clearfix">
        <article>
          <%= @topic.body %>
        </article>
      </div>
    </div>
    
    <br/>
    <%# cache @topic do %>
      <section class="panel social-share-section" style="padding: 0">
            &nbsp;
        <%= social_share_button_tag @topic.title %>

        <span class="right">


          <%# unless current_user.followering? @topic %>
            <% if user_signed_in? && current_user.keeping?(@topic.id) %>
              <%= render 'topic_and_user/unkeep', topic: @topic %>
            <% else %>
              <%= render 'topic_and_user/keep', topic: @topic %>
            <% end %>
            &nbsp;
          <%# end %>

          <%# unless current_user.keepering? @topic %>
            <% if user_signed_in? && current_user.marking?(@topic.id) %>
              <%= render 'topic_and_user/unmark', topic: @topic %>
            <% else %>
              <%= render 'topic_and_user/mark', topic: @topic %>
            <% end %>
            &nbsp;
          <%# end %>
        </span>
      </section>
    <%# end %>

    <% if can? :update, @topic %>
      <%= link_to 'Edit', edit_topic_path(@topic) %>
    <% end %>

    <% if can? :delete, @topic %>
      <td><%= link_to 'Destroy', @topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>

    <hr>

    <%= form_for :comment, url: topic_comments_path(@topic) do |f| %>
      <%= f.text_area :content, rows: 10, required: true %>
      <%= f.submit "评论", class: "blue tiny button radius float-right" %>
    <% end %>

    <hr>

    <%= render 'topics/comments' %>

</div>

<div class="pindan-user-sidebar large-3 columns">
  <a href="javascript:void(0);" data-reveal-id="shopping_together" class="success button" id="new_apply">参与拼单</a>

  <div id="shopping_together" class="reveal-modal small" data-reveal>
    <%= render 'snippets/form' %>
    <a class="close-reveal-modal">&#215;</a>
  </div>


  <div class="user-sidebar">
    <strong>发单人</strong>
    <div class="user-sidebar-info margin-top-20">
      <div>
        <%= image_tag @topic.user.avatar_url(:thumb), class: 'thumb_avatar' %>
        <p class="user-sidebar-name"><%= link_to @topic.user.username, @topic.user %></p>
      </div>
      <div class="user-sidebar-fun">
        <strong>电话: </strong>
        <%= @topic.user.phone %>
        <div>
          <span><%= @topic.user.topics.count %> 发单</span> |
          <span><%= @topic.user.count_user_followers %> 被关注</span>
        </div>
      </div>
      <div class="gendan-users">
        <strong>44人跟单</strong>
        <ul>
          <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMBxP56GfB_bGbS236FRYFk3JYmC8I9oA1-VSk9HykZVYQJJGG5_BFIg-I" class="small-img"></li>
          <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMBxP56GfB_bGbS236FRYFk3JYmC8I9oA1-VSk9HykZVYQJJGG5_BFIg-I" class="small-img"></li>
          <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMBxP56GfB_bGbS236FRYFk3JYmC8I9oA1-VSk9HykZVYQJJGG5_BFIg-I" class="small-img"></li>
          <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMBxP56GfB_bGbS236FRYFk3JYmC8I9oA1-VSk9HykZVYQJJGG5_BFIg-I" class="small-img"></li>
          <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMBxP56GfB_bGbS236FRYFk3JYmC8I9oA1-VSk9HykZVYQJJGG5_BFIg-I" class="small-img"></li>
          <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMBxP56GfB_bGbS236FRYFk3JYmC8I9oA1-VSk9HykZVYQJJGG5_BFIg-I" class="small-img"></li>
          <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMBxP56GfB_bGbS236FRYFk3JYmC8I9oA1-VSk9HykZVYQJJGG5_BFIg-I" class="small-img"></li>
          <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMBxP56GfB_bGbS236FRYFk3JYmC8I9oA1-VSk9HykZVYQJJGG5_BFIg-I" class="small-img"></li>
          <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMBxP56GfB_bGbS236FRYFk3JYmC8I9oA1-VSk9HykZVYQJJGG5_BFIg-I" class="small-img"></li>
          <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMBxP56GfB_bGbS236FRYFk3JYmC8I9oA1-VSk9HykZVYQJJGG5_BFIg-I" class="small-img"></li>
          <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMBxP56GfB_bGbS236FRYFk3JYmC8I9oA1-VSk9HykZVYQJJGG5_BFIg-I" class="small-img"></li>
          <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMBxP56GfB_bGbS236FRYFk3JYmC8I9oA1-VSk9HykZVYQJJGG5_BFIg-I" class="small-img"></li>
          <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMBxP56GfB_bGbS236FRYFk3JYmC8I9oA1-VSk9HykZVYQJJGG5_BFIg-I" class="small-img"></li>
          <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMBxP56GfB_bGbS236FRYFk3JYmC8I9oA1-VSk9HykZVYQJJGG5_BFIg-I" class="small-img"></li>
          <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMBxP56GfB_bGbS236FRYFk3JYmC8I9oA1-VSk9HykZVYQJJGG5_BFIg-I" class="small-img"></li>
        </ul>
      </div>
    </div>
    <div class="pindan-other">
      <p>67件商品</p>
      <strong><a href="#">商家链接</a></strong>
    </div>
  </div>
</div>
