<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Created At:</strong>
  <%= @topic.created_at %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @topic.user.username %>
</p>

<p>
  <strong>Body:</strong>
  <%= @topic.body %>
</p>

<p>
  <strong>Tag List:</strong>
  <% @topic.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
</p>

<%# unless current_user.sticking? @topic %>
  <%= button_to 'Sticking', sticking_topic_path(@topic), remote: true %>
<%# end %>

<%# unless current_user.followering? @topic %>
  <%= button_to 'Followering', followering_topic_path(@topic), remote: true %>
<%# end %>

<%# unless current_user.keepering? @topic %>
  <%= button_to 'Keepering', keepering_topic_path(@topic), remote: true %>
<%# end %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
