<% set_meta_tags :title => @topic.title %>

<div class="columns large-9" style="margin: auto 12.5%;">
<p>
  <h1><%= @topic.title %></h1>
</p>

<p>
  <strong>时间:</strong>
  <%= time_ago_in_words @topic.created_at %> 前
</p>

<p>
  <strong>作者:</strong>
  <%= @topic.user.username %>
</p>

<p>
  <%= raw(markdown_for @topic.body) %>
</p>

<p class="tags">
  <strong>标签:&nbsp;</strong>
  <% @topic.tags.each do |tag| %>
    <%= link_to tag.name, "javascript:void(0);", class: "tag-container" %>
  <% end %>
</p>

<br>

<%# cache @topic do %>
  <section class="panel social-share-section" style="padding: 0">
        &nbsp;
    <%= social_share_button_tag @topic.title %>

    <span class="right">


      <%# unless current_user.followering? @topic %>
        <% if user_signed_in? && current_user.keeping?(@topic.id) %>
          <%= render 'topic_and_user/unkeep', topic: @topic %>
        <% else %>
          <%= render 'topic_and_user/keep', topic: @topic %>
        <% end %>
        &nbsp;
      <%# end %>

      <%# unless current_user.keepering? @topic %>
        <% if user_signed_in? && current_user.marking?(@topic.id) %>
          <%= render 'topic_and_user/unmark', topic: @topic %>
        <% else %>
          <%= render 'topic_and_user/mark', topic: @topic %>
        <% end %>
        &nbsp;
      <%# end %>
    </span>
  </section>
<%# end %>

<% if can? :update, @topic %>
  <%= link_to 'Edit', edit_topic_path(@topic) %>
<% end %>

<% if can? :delete, @topic %>
  <td><%= link_to 'Destroy', @topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<hr>

<%= form_for :comment, url: topic_comments_path(@topic) do |f| %>
  <%= f.text_area :content, rows: 10, required: true %>
  <%= f.submit "提交", class: "blue tiny button radius" %>
<% end %>

<hr>

<%= render 'topics/comments' %>
</div>