<% set_meta_tags :title => @topic.title %>
<div class="row pindan-show">
<div class="large-8 columns pindan-user-content">

    <div class="pindan-content clearfix">
        <% if cn_for_status(@topic.status) != '拼单中' %>
            <div class="pindan-status"><%= cn_for_status(@topic.status) %></div>
        <% end %>
      <h3><%= @topic.title %></h3>

      <div class="pindan-kinds">
        <div class="pindan-content-kind">
          <p>
            <strong>拼单方式:</strong>
            <%= cn_for_category @topic.category %>
          </p>
          <p>
            <strong>拼单货源:</strong>
            <%= cn_for @topic.freight_source %>
          </p>
          <p>
            <strong>截至日期:</strong>
            <%= @topic.deadline %>
          </p>
        </div>

        <div class="pindan-content-kind">
          <p>
            <strong>购买发票:</strong>
            <%= cn_for_invoice(@topic.invoice) %>
          </p>
          <p>
            <strong>手续费用:</strong>
            <%= cn_for_rate @topic.rate %>
          </p>
          <p>
            <strong>拼单编号:</strong>
            <%= @topic.barcode %>
          </p>
        </div>

        <div class="pindan-content-kind">
          <p>
            <strong>商品类型:</strong>
            <%= @topic.catalog.name %>
          </p>
          <p>
            <strong>坐标地址:</strong>
            <%= cn_for(@topic.freight_source) %>
          </p>
        </div>
      </div>
      <div class="pindan-content-info clearfix">
        <article>
          <%= @topic.body %>
        </article>
      </div>
    </div>

    <br/>
    <%# cache @topic do %>
      <section class="panel social-share-section" style="padding: 0">
            &nbsp;
        <%= social_share_button_tag @topic.title %>

        <span class="right">

          <%# unless current_user.followering? @topic %>
            <% if user_signed_in? && current_user.keeping?(@topic.id) %>
              <%= render 'topic_and_user/unkeep', topic: @topic %>
            <% else %>
              <%= render 'topic_and_user/keep', topic: @topic %>
            <% end %>
            &nbsp;
          <%# end %>

          <%# unless current_user.keepering? @topic %>
            <% if user_signed_in? && current_user.marking?(@topic.id) %>
              <%= render 'topic_and_user/unmark', topic: @topic %>
            <% else %>
              <%= render 'topic_and_user/mark', topic: @topic %>
            <% end %>
            &nbsp;
          <%# end %>
        </span>
      </section>
    <%# end %>

    <!-- <hr> -->

    <%= form_for :comment, url: topic_comments_path(@topic) do |f| %>
      <%= f.text_area :content, rows: 10, required: true %>
      <%= f.submit "评论", class: "blue tiny button radius float-right" %>
    <% end %>

    <!-- <hr> -->

    <%= render 'topics/comments' %>

</div>

<div class="pindan-user-sidebar large-3 columns">
    <% if can? :update, @topic %>
      <%= link_to edit_topic_path(@topic), class: "success button half-round tiny font-size-15" do %>
        <i class="fa fa-pencil-square-o"></i>&nbsp;编辑
      <% end %>

      <button href="javascript:void(0);" data-dropdown="change-status" aria-controls="change-status" aria-expanded="false" class="button dropdown half-round tiny font-size-15">更改状态</button><br>
      <ul id="change-status" data-dropdown-content class="f-dropdown" aria-hidden="true">
        <% Topic.statuses.keys.each do |status| %>
          <li><%= link_to cn_for_status(status), change_status_topic_path(@topic, status), method: :put %></li>
        <% end %>
      </ul>
    <% else%>
      <a href="javascript:void(0);" data-reveal-id="shopping_together" class="success button small font-size-20" id="new_apply" style="line-height: 1.24em; width: 170px; height: 50px;">参与拼单</a>
    <% end %>

    <%# if can? :delete, @topic %>
      <%#= link_to @topic, method: :delete, class: "secondary button tiny",data: { confirm: '你确定要删除吗？删除后其他人并不再可见，包括已跟单的人。' } do %>
        <!-- <i class="fa fa-trash"></i>&nbsp;删除 -->
      <%# end %>
    <%# end %>

  <div id="shopping_together" class="reveal-modal small" data-reveal>
    <%= render 'snippets/form' %>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <div class="user-sidebar">
    <strong>发单人</strong>
    <div class="user-sidebar-info margin-top-20">
      <div>
        <%= image_tag @topic.user.avatar_url(:thumb), class: 'thumb_avatar' %>
        <legend class="user-sidebar-name"><strong><%= link_to @topic.user.username, @topic.user %></strong></legend>
        <span>电话: </span>
        <%= @topic.user.phone %>
        <div>
          <span><%= @topic.user.topics.count %> 发单</span> |
          <span><%= @topic.user.count_user_followers %> 被关注</span>
        </div>
      </div>
      <div class="gendan-users">
        <div><%= @topic.snippets.count %> 人跟单</div>
        <ul>
          <% if can? :manage_snippets, @topic %>
            <% @topic.snippets.each do |snippet| %>
              <li><%= link_to image_tag(snippet.user.avatar_url(:tiny)), topic_manage_snippets_path(@topic) %></li>
            <% end %>
          <% else %>
            <% @topic.snippets.each do |snippet| %>
              <li><%= link_to image_tag(snippet.user.avatar_url(:tiny)), topic_snippets_path(@topic) %></li>
            <% end %>
          <% end %>
        </ul>
        <div><%= @topic.snippets.sum(:quantity) %> 件商品</div>
      </div>
    </div>
    <div class="pindan-other">

      <!-- <strong><a href="#">商家链接</a></strong> -->
    </div>
  </div>
</div>
