<% @users.each_slice(4) do |users| %>
  <div class="row" data-equalizer>
    <% users.each do |user| %>
      <div class="large-3 columns" data-equalizer-watch>
        <div class="item-wrapper">
          <div class="img-wrapper">
            <% if current_user.following?(user) %>
              <%= render 'users/stop_following', user: user %>
            <% else %>
              <%= render 'users/follow', user: user %>
            <% end %>
            <%= image_tag user.avatar_url(:thumb) %>
          </div>  
          <%= link_to user do %>
            <h4><%= user.username %></h4>
          <% end %>
          <p><%= user.info %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= paginate @users %>
