<div class="row">
  <div class="large-3 columns">
    <h5>
      <%= link_to edit_avatar_user_path(@user) do %>
        <i class="fi-widget"></i>
      <% end %>
    </h5>

    <p>
      <a href="" data-reveal-id="mapModal">
        <%= image_tag @user.avatar_url(:thumb), class: 'thumb_avatar' %>
      </a>
      <% unless current_user.teachers_ids.include? @user.id %>
        <a href="#" class="fancy radius button tiny">拜师</a></p>
      <% end %>
      <br>
      <%= @user.username %>
      <br>
      男
      <br>
      Programmer
    </p>
    <p>
      关注：<%= @user.following_users_count %>
      <br>
      粉丝：<%= @user.count_user_followers %>
      <br>
      标签：程度员 Ruby Rails
    </p>
    <p>
      个性签名：<%= @user.info %>
    </p>
  </div>

  <div class="large-9 columns">
    <div class="section-container tabs" data-section="">
      <section class="section">
        <h5 class="title">想说点什么?</h5>
        <div class="content" data-slug="panel1">
          <form>
            <textarea rows="4"></textarea>
            <ul class="button-group">
              <li><a href="#" class="button">发布</a></li>
              <li><a href="#" class="button">取消</a></li>
            </ul>
          </form>
        </div>
      </section>

      <section class="section">
        <h5 class="title">我的导师们:<span class="right">对所有导师说~</span></h5>
        <div class="content" data-slug="panel2">
          <ul class="large-block-grid-5">
            <% @teachers.includes(:recipient).each do |ur| %>
              <li>
                <a href="mailto:mal@serenity.bc.reb">
                <%= link_to ur.recipient do %>
                  <%= image_tag ur.recipient.avatar_url(:thumb), class: 'thumb_avatar' %><%= ur.recipient.username %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
      <hr>

      <section class="section">
        <h5 class="title">我的学生们:<span class="right">对所有学生说~</span></h5>
        <div class="content" data-slug="panel2">
          <ul class="large-block-grid-5">
            <% @students.includes(:recipient).each do |ur| %>
              <li>
                <%= link_to ur.recipient do %>
                  <%= image_tag ur.recipient.avatar_url(:thumb), class: 'thumb_avatar' %><%= ur.recipient.username %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
      <hr>

      <section class="section">
        <h5 class="title">我的朋友们:</h5>
        <div class="content" data-slug="panel2">
          <ul class="large-block-grid-5">
            <% @followers.each do |user| %>
              <li>
                <%= link_to user do %>
                  <%= image_tag user.avatar_url(:thumb) %><%= user.username %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
