<div class="row">

  <div class="large-3 columns user-info-card">

    <div class="zm-profile-header-main">
      <%= image_tag @user.avatar_url(:thumb), class: 'avatar', style: 'margin-top: 10px;' %>
      <div class="zm-follow-header-info">

        <div class="clearfix">
          <div class="user-username">
            <h4 style="font-size: 16px; margin-left: 10px;"><%= @user.username %>
              &nbsp;<%= render 'users/icon_for_gender', user: @user %>
            </h4>
          </div>
          <div class="follow-num float-left" style="margin-left: 10px;">
            <span class="font-follow">关注了</span>
            <strong><%= @user.following_users_count %>人</strong>
          </div>
          <div class="follow-num float-left" style="margin-left: 10px;">
            <span class="font-follow">粉丝数</span>
            <strong><%= @user.count_user_followers %>人</strong>
          </div>
        </div>
        <div class="edit-user-info">
          <%= link_to "编辑我的资料", edit_user_registration_path %>
        </div>
      </div>
      <hr/>
    </div>
    <!-- <div class="user-profile-item">
      <p>账号绑定:</p>
      <p>所在城市:
        <span><%#= @user.location %></span>
      </p>
    </div>
    <hr/>-->
    <div class="font-message pindan-num" style="color: #999;">
      发起了 <%= link_to "#{@user.topics.count} 个拼单", topics_path(user_id: @user.id) %>
      参加了 <a href="#"><%= @user.snippets.count %> 个拼单</a>
    </div>
    <hr/>
    <div class="font-message user-resume" style="color: #999;">
      个人介绍:
      <span style="color: #444;">
          <%= cn_for_user_info(@user.info) %>
      </span>
    </div>
  </div>

  <div class="large-9 columns">
    <div class="user-info-state">
    <div class="zm-profile-section-head">
      <h3>最新动态</h3>
    </div>
    <hr/>
    <%if @activities.present? %>
      <div class="zm-profile-section-content">
        <% @activities.each_slice(5) do |activities| %>
          <div>
            <% activities.each do |activity| %>
              <div class="activity">
                <%= render_activity activity %>
              </div>
            <% end %>
            <!-- <hr class="dashed"></hr> -->
          </div>
        <% end %>
        <%= paginate @activities %>
      </div>
    <% else %>
      <div class="zm-profile-section-empty">暂时没有动态</div>
    <% end %>
  </div>
  </div>
</div>
