<div class="raw">

  <div class="large-3 columns user-info-card">
    <div class="user-username">
      <h4><%= @user.username %></h4>
      <%= render 'users/icon_for_gender', user: @user %>
    </div>
    <div class="zm-profile-header-main">
      <%= image_tag @user.avatar_url(:thumb) %>
      <div class="zm-follow-header-info">
        <div class="clearfix">
          <div class="follow-num float-left margin-left-10">
            <span class="font-follow">关注了</span> 
            <strong><%= @user.following_users_count %>人</strong>
          </div>
          <div class="follow-num float-right margin-right-10">
            <span class="font-follow">粉丝数</span>
            <strong><%= @user.count_user_followers %>人</strong>
          </div>
        </div>
        <div class="edit-user-info">
          <%= link_to "编辑我的资料", edit_user_registration_path %>
        </div>
      </div>
      <hr/>
    </div>
    <div class="user-profile-item">
      <p>账号绑定:</p>
      <p>所在城市:
        <span><%= @user.location %></span>
      </p>
    </div>
    <hr/>
    <div class="font-message pindan-num">
      发起了 <%= link_to "#{@user.topics.count} 个拼单", topics_path(user_id: @user.id) %>
      参加了 <a href="#"><%= @user.snippets.count %> 个拼单</a>
    </div>
    <hr/>
    <div class="font-message user-resume">
      个人介绍: 
      <i><%= cn_for_user_info(@user.info) %></i>
    </div>
  </div>

  <div class="large-7 columns user-info-state">
    <div class="zm-profile-section-head">
      <h3>最新动态</h3>  
    </div>
    <hr/>
    <%if @activities.present? %>
      <div class="zm-profile-section-content">
        <div class="activity">
        本功能紧张开发中...
        </div>
        <!-- 进入处理拼单页面 -->
        <!-- <div class="activity"> -->
          <!-- 您有 5 个拼单等待处理，点击 <%#= link_to "立即处理", users_pending_apply_students_path %> -->
        <!-- </div> -->
        <!-- <hr class="dashed"></hr> -->

        <% @activities.each_slice(5) do |activities| %>
          <div>
            <% activities.each do |activity| %>
              <div class="activity">
                <%= link_to activity.owner.username, activity.owner if activity.owner %>
                <%= render_activity activity %>
              </div>
            <% end %>
            <!-- <hr class="dashed"></hr> -->
          </div>
        <% end %>
      </div>
        <%#= paginate @activities, :param_name => 'pub_page' %>
    <% else %>
      <div class="zm-profile-section-empty">暂时没有动态</div>
    <% end %>
    
  </div>
</div>
