<div class="row">
  <!-- Sidebar -->
  <div class="large-3 columns">
    <h5>
      <% if can? :update, @user %>
        <%= link_to edit_avatar_user_path(@user) do %>
          <i class="fi-widget"></i>
        <% end %>
      <% end %>
    </h5>
    <!-- Clicking this placeholder fires the mapModal Reveal modal -->
    <p>
      <a href="" data-reveal-id="mapModal">
        <%= image_tag @user.avatar_url(:thumb), class: 'thumb_avatar' %>
      </a>
      <%= @user.username %>
      男
      Programmer
    </p>
    <p>
      关注：<%= @user.following_users_count %>
      <br>
      粉丝：<%= @user.count_user_followers %>
      <br>
      标签：程度员 Ruby Rails
    </p>
  </div>
  <!-- End Sidebar -->

  <!-- Contact Details -->
  <div class="large-9 columns">
    <div class="section-container tabs" data-section="">
      <section class="section">
        <h5 class="title">想说点什么?</h5>
        <div class="content" data-slug="panel1">
          <form>
            <textarea rows="4"></textarea>
            <!-- <button type="submit" class="radius button">Submit</button> -->

            <ul class="button-group">
              <li><a href="#" class="button">发布</a></li>
              <li><a href="#" class="button">取消</a></li>
            </ul>
          </form>
        </div>
      </section>

      <section class="section">
        <h5 class="title">我的老师们:</h5> 对所有老师说~
        <div class="content" data-slug="panel2">
          <ul class="large-block-grid-5">
            <% @teachers.includes(:recipient).each do |ur| %>
              <li>
                <a href="mailto:mal@serenity.bc.reb">
                <%= link_to ur.recipient do %>
                  <%= image_tag ur.recipient.avatar_url(:thumb), class: 'thumb_avatar' %><%= ur.recipient.username %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
      <hr>

      <section class="section">
        <h5 class="title">我的学生们:</h5> 对所有学生说~
        <div class="content" data-slug="panel2">
          <ul class="large-block-grid-5">
            <% @students.includes(:recipient).each do |ur| %>
              <li>
                <%= link_to ur.recipient do %>
                  <%= image_tag ur.recipient.avatar_url(:thumb), class: 'thumb_avatar' %><%= ur.recipient.username %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
      <hr>

      <section class="section">
        <h5 class="title">同学、朋友:</h5>
        <div class="content" data-slug="panel2">
          <ul class="large-block-grid-5">
            <% @classmates.includes(:recipient).each do |ur| %>
              <li>
                <%= link_to ur.recipient do %>
                  <%= image_tag ur.recipient.avatar_url(:thumb), class: 'thumb_avatar' %><%= ur.recipient.username %>
                <% end %>
              </li>
            <% end %>
            <% @followers.each do |user| %>
              <li>
                <%= link_to user do %>
                  <%= image_tag user.avatar_url(:thumb) %><%= user.username %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
    </div>
  </div>
  <!-- End Contact Details -->
</div>
