<div class="row">
  <!-- Sidebar -->
  <div class="large-3 columns">
    <h5>

    </h5>
    <!-- Clicking this placeholder fires the mapModal Reveal modal -->
    <p>
      <a href="" data-reveal-id="mapModal">
        <%= image_tag @user.avatar_url(:thumb), class: 'thumb_avatar' %>
      </a>

      <%= render 'shared/want_mentor_button', user: @user %>

      <br>
      <%= @user.username %>
      <br>
      男
      <br>
      Programmer
    </p>
    <p>
      关注：<%= @user.following_users_count %>
      <br>
      粉丝：<%= @user.count_user_followers %>
      <br>
      标签：程度员 Ruby Rails
    </p>
    <p>
      个性签名：<%= @user.info %>
    </p>
  </div>
  <!-- End Sidebar -->

  <!-- Contact Details -->
  <div class="large-9 columns">
    <div class="section-container tabs" data-section="">
      <section class="section">
        <h5 class="title">私信 Ta ?</h5>
        <div class="content" data-slug="panel1">
          <%= form_for :direct_message, url: direct_messages_path, remote: true, html: { id: 'direct_message' } do |f| %>
            <%= f.text_area :content, required: true, autofocus: true %><br />
            <%= hidden_field_tag 'direct_message[to_user_id]', @user.id %>
            <%= f.submit "提交", class: "blue tiny button radius" %>
          <% end %>
        </div>
      </section>

      <section class="section">
        <h5 class="title">Ta 的导师们:</h5>
        <div class="content" data-slug="panel2">
          <ul class="large-block-grid-5">
            <% @teachers.includes(:recipient).each do |ur| %>
              <li>
                <a href="mailto:mal@serenity.bc.reb">
                <%= link_to ur.recipient do %>
                  <%= image_tag ur.recipient.avatar_url(:thumb), class: 'thumb_avatar' %><%= ur.recipient.username %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
      <hr>

      <section class="section">
        <h5 class="title">Ta 的学生们:</h5>
        <div class="content" data-slug="panel2">
          <ul class="large-block-grid-5">
            <% @students.includes(:recipient).each do |ur| %>
              <li>
                <%= link_to ur.recipient do %>
                  <%= image_tag ur.recipient.avatar_url(:thumb), class: 'thumb_avatar' %><%= ur.recipient.username %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
      <hr>

      <section class="section">
        <h5 class="title">Ta 的朋友们:</h5>
        <div class="content" data-slug="panel2">
          <ul class="large-block-grid-5">
            <% @followers.each do |user| %>
              <li>
                <%= link_to user do %>
                  <%= image_tag user.avatar_url(:thumb) %><%= user.username %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
    </div>
  </div>
  <!-- End Contact Details -->
</div>
