<div class="large-12 columns">
  <!-- Sidebar -->
  <div class="large-3 columns" style="position: fixed;">
    <h5>

    </h5>
    <!-- Clicking this placeholder fires the mapModal Reveal modal -->
    <p>
      <a href="" data-reveal-id="mapModal">
        <%= image_tag @user.avatar_url(:thumb), class: 'thumb_avatar' %>
      </a>

      <%= render 'shared/want_mentor_button', user: @user %>

      <br>
      <%= @user.username %>
      <br>
      <%= @user.chinese_gender %>
    </p>
    <%= render "sidebar_profile", user: @user %>
  </div>
  <!-- End Sidebar -->

  <!-- Contact Details -->
  <div class="large-9 columns">
    <div class="section-container tabs" data-section="">
      <section class="section">
        <h5 class="title">私信 Ta ?</h5>
        <div class="content" data-slug="panel1">
          <%= form_for :direct_message, url: direct_messages_path, remote: true, html: { id: 'direct_message' } do |f| %>
            <%= f.text_area :content, required: true, autofocus: true %><br />
            <%= hidden_field_tag 'direct_message[to_user_id]', @user.id %>
            <%= f.submit "提交", class: "blue tiny button radius" %>
          <% end %>
        </div>
      </section>

      <% if @teachers.any? %>
        <section class="section">
          <h5 class="title">Ta 的导师们:</h5>

          <%= render "users/polaroids", locals: {collection: @teachers, relation: :recipient} %>
        </section>
        <hr class="dashed"></hr>
      <% end %>

      <% if @students.any? %>
        <section class="section">
          <h5 class="title">Ta 的学生们:</h5>

          <%= render "users/polaroids", locals: {collection: @students, relation: :recipient} %>
        </section>
        <hr class="dashed"></hr>
      <% end %>

      <% if @followers.any? %>
        <section class="section">
          <h5 class="title">Ta 的朋友们:</h5>

          <%= render "users/polaroids", locals: {collection: @followers, relation: nil} %>
        </section>
      <% end %>
    </div>
  </div>
  <!-- End Contact Details -->
</div>
