<div class="row">
  <!-- Sidebar -->
  <div class="large-3 columns">
    <h5>

    </h5>
    <!-- Clicking this placeholder fires the mapModal Reveal modal -->
    <p>
      <a href="" data-reveal-id="mapModal">
        <%= image_tag @user.avatar_url(:thumb), class: 'thumb_avatar' %>
      </a>

      <% apply = Apply.where(mentor_id: @user.id, user_id: current_user.id).last %>

      <% if current_user.teachers_ids.include? @user.id %>
        <a href="javascript:void(0);" class="fancy radius button tiny">我的导师</a>
      <% elsif apply && apply.pending? %>
        <a href="javascript:void(0);" class="fancy radius button tiny">已经拜师</a>
      <% elsif apply && apply.refused? %>
        <a href="javascript:void(0);" class="fancy radius button tiny">已被拒绝</a>
      <% else %>
        <a href="javascript:void(0);" data-reveal-id="create_apply" class="fancy radius button tiny" id="new_apply">我要拜师</a>

        <div id="create_apply" class="reveal-modal" data-reveal>
          <%= form_for :apply, url: user_applies_path(@user), remote: true do |f| %>
            <%= f.label :info, "申请信息: (不能为空)" %>
            <%= f.text_field :info %>
            <%= f.submit %>
          <% end %>

          <a class="close-reveal-modal">&#215;</a>
        </div>
      <% end %>
      <br>
      <%= @user.username %>
      <br>
      男
      <br>
      Programmer
    </p>
    <p>
      关注：<%= @user.following_users_count %>
      <br>
      粉丝：<%= @user.count_user_followers %>
      <br>
      标签：程度员 Ruby Rails
    </p>
    <p>
      个性签名：<%= @user.info %>
    </p>
  </div>
  <!-- End Sidebar -->

  <!-- Contact Details -->
  <div class="large-9 columns">
    <div class="section-container tabs" data-section="">
      <section class="section">
        <h5 class="title">私信 Ta ?</h5>
        <div class="content" data-slug="panel1">
          <%= form_for :direct_message, url: direct_messages_path, remote: true, html: { id: 'direct_message'} do |f| %>
            <%= f.text_area :content %><br />
            <%= hidden_field_tag 'direct_message[to_user_id]', @user.id %>
            <%= f.submit %>
          <% end %>
        </div>
      </section>

      <section class="section">
        <h5 class="title">Ta 的导师们:</h5>
        <div class="content" data-slug="panel2">
          <ul class="large-block-grid-5">
            <% @teachers.includes(:recipient).each do |ur| %>
              <li>
                <a href="mailto:mal@serenity.bc.reb">
                <%= link_to ur.recipient do %>
                  <%= image_tag ur.recipient.avatar_url(:thumb), class: 'thumb_avatar' %><%= ur.recipient.username %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
      <hr>

      <section class="section">
        <h5 class="title">Ta 的学生们:</h5>
        <div class="content" data-slug="panel2">
          <ul class="large-block-grid-5">
            <% @students.includes(:recipient).each do |ur| %>
              <li>
                <%= link_to ur.recipient do %>
                  <%= image_tag ur.recipient.avatar_url(:thumb), class: 'thumb_avatar' %><%= ur.recipient.username %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
      <hr>

      <section class="section">
        <h5 class="title">Ta 的朋友们:</h5>
        <div class="content" data-slug="panel2">
          <ul class="large-block-grid-5">
            <% @followers.each do |user| %>
              <li>
                <%= link_to user do %>
                  <%= image_tag user.avatar_url(:thumb) %><%= user.username %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
    </div>
  </div>
  <!-- End Contact Details -->
</div>
