<p id="notice"><%= notice %></p>

<p>
  <strong>Heading:</strong>
  <%= @section.heading %>
</p>

<p>
  <strong>Body:</strong>
  <%= @section.body %>
</p>

<p>
  <strong>Position:</strong>
  <%= @section.position %>
</p>

<p>
  <strong>Post:</strong>
  <%= @section.post_id %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
