<p id="notice"><%= notice %></p>

<p>
  <strong>Heading:</strong>
  <%= @section.heading %>
</p>

<p>
  <strong>Body:</strong>
  <%= @section.body %>
</p>

<p>
  <strong>Position:</strong>
  <%= @section.position %>
</p>

<p>
  <strong>Post:</strong>
  <%= @section.post_id %>
</p>

<% if can? :update, @section %>
  <%= link_to 'Edit', edit_section_path(@section) %> |
<% end %>