<section class="body-wrapper">
  <section class="body">
    <div class="row circle-list skill-list pindan-sub-nav">
      <div class="medium-3 columns circle-list-card">
        <h4 class="circle-list-card-header">盟主发起拼单</h4>
        <ul class="circle-list-card-body">
          <li><a href="#">30斤批发起?</a></li>
          <li><a href="#">10件订做起?</a></li>
          <li><a href="#">海淘高邮费?</a></li>
        </ul>
      </div>

      <hr class="dashed hide-for-medium-up">

      <div class="medium-3 columns circle-list-card">
        <h4 class="circle-list-card-header">盟员跟单</h4>
        <ul class="circle-list-card-body">
          <li><a href="#">我要5斤</a></li>
          <li><a href="#">我要1斤</a></li>
          <li><a href="#">我要海淘</a></li>
        </ul>
      </div>

      <hr class="dashed hide-for-medium-up">

      <div class="medium-3 columns circle-list-card">
        <h4 class="circle-list-card-header">付款收货</h4>
        <ul class="circle-list-card-body">
          <li><a href="#">满起批</a></li>
          <li><a href="#">满起定</a></li>
          <li><a href="#">满包邮</a></li>
        </ul>
      </div>

      <hr class="dashed hide-for-medium-up">

      <div class="medium-3 columns circle-list-card">
        <h4 class="circle-list-card-header">盟主下单付款</h4>
        <ul class="circle-list-card-body">
          <li><a href="#">便宜</a></li>
          <li><a href="#">合身</a></li>
          <li><a href="#">实惠</a></li>
        </ul>
      </div>
    </div>

    <section class="fot-con-par clearfix">
      <div class="fot-con">
        <h3>最新拼单信息</h3>
        <div class="newest-pindan-info">
          <div class="newest-pindan-kinds">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMBxP56GfB_bGbS236FRYFk3JYmC8I9oA1-VSk9HykZVYQJJGG5_BFIg-I">
            <ul class="newest-pindan-kind-list">
              <% @catalogs.each do |catalog| %>
                <li><%= link_to catalog.name, catalog %></li>
              <% end %>
            </ul>
          </div>
          <div class="newest-pindan-body">
            <ul class="newest-pindan-list">
              <% @topics.each do |topic| %>
                <li>
                  <%= link_to topic.user do %>
                    <%= image_tag topic.user.avatar_url(:tiny), class: 'tiny_avatar' %>
                  <% end %>
                  <span class="list-username"><%= topic.user.username %></span>
                  <span class="pindan-num"><%= topic.comments.count %></span>
                  <span class="pindan-title">
                    <%= link_to topic do %>
                      <%= topic.title %>
                    <% end %>
                  </span>
                </li>
              <% end %>
            </ul>

            <%= paginate @topics %>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
