<section class="body-wrapper">
  <section class="body">
        <div class="paddingful-wrapper bg-orange">
            <div class="row circle-list skill-list pindan-sub-nav">
              <div class="medium-3 columns circle-list-card">
                  <div class="floating-number">1</div>
                <h4 class="circle-list-card-header">盟主发起拼单</h4>
                <ul class="circle-list-card-body">
                  <li><i class="fi-check"></i> 30斤批发起</li>
                  <li><i class="fi-check"></i> 10件订做起</li>
                  <li><i class="fi-check"></i> 海淘高邮费</li>
                </ul>
              </div>

              <hr class="dashed hide-for-medium-up">

              <div class="medium-3 columns circle-list-card">
                  <div class="floating-number">2</div>
                <h4 class="circle-list-card-header">盟员跟单</h4>
                <ul class="circle-list-card-body">
                  <li><i class="fi-check"></i> 我要5斤</li>
                  <li><i class="fi-check"></i> 我要1斤</li>
                  <li><i class="fi-check"></i> 我要海淘</li>
                </ul>
              </div>

              <hr class="dashed hide-for-medium-up">

              <div class="medium-3 columns circle-list-card">
                  <div class="floating-number">3</div>
                <h4 class="circle-list-card-header">付款收货</h4>
                <ul class="circle-list-card-body">
                  <li><i class="fi-check"></i> 满起批</li>
                  <li><i class="fi-check"></i> 满起定</li>
                  <li><i class="fi-check"></i> 满包邮</li>
                </ul>
              </div>

              <hr class="dashed hide-for-medium-up">

              <div class="medium-3 columns circle-list-card">
                  <div class="floating-number">4</div>
                <h4 class="circle-list-card-header">盟主下单付款</h4>
                <ul class="circle-list-card-body">
                  <li><i class="fi-check"></i> 便宜</li>
                  <li><i class="fi-check"></i> 合身</li>
                  <li><i class="fi-check"></i> 实惠</li>
                </ul>
              </div>
            </div>
            <div class="max-width-600px">
                <div class="row collapse postfix-round">
                    <!-- <div class=""> -->
                        <div class="columns small-10">
                            <input class="index-search-input" type="text" placeholder="查找拼单">
                        </div>
                        <div class="columns small-2">
                            <a href="#" class="button postfix"><i class="fa fa-search"></i></a>
                        </div>
                    <!-- </div> -->
                </div>
                <div class="empty-row"></div>
            </div>
        </div>
    <section class="fot-con-par clearfix">
      <div class="fot-con">
        <h3>最新拼单信息</h3>
        <div class="newest-pindan-info">
          <div class="newest-pindan-kinds">
            <%= image_tag 'pay_plan.png' %>
            <ul class="newest-pindan-kind-list">
              <% @catalogs.each do |catalog| %>
                <li><%= link_to catalog.name, topics_path(catalog_id: catalog.id) %></li>
              <% end %>
            </ul>
          </div>
          <div class="newest-pindan-body">
            <ul class="newest-pindan-list">
              <% @topics.each do |topic| %>
                <li>
                  <%= link_to topic.user do %>
                    <%= image_tag topic.user.avatar_url(:tiny), class: 'tiny_avatar' %>
                  <% end %>
                  <span class="list-username"><%= topic.user.username %></span>
                  <div class="pindan-title">
                    <span class="pindan-num"><%= topic.comments.count %></span>
                    <span>
                      <%= link_to topic do %>
                        <%= topic.title %>
                      <% end %>
                    </span>
                  </div>
                </li>
              <% end %>
            </ul>

            <%= paginate @topics %>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
