<div class="large-9 columns" role="content">
  <article>
    <!-- <h1 class="panel-white"> -->
      <%#= link_to @topic.title, @topic %>
    <!-- </h1> -->

    <!-- <div class="row"> -->
      <%#= raw markdown_for @topic.body %>
    <!-- </div> -->

    <%# @activities.each_slice(5) do |activities| %>
      <!-- <div> -->
        <% @activities.each do |activity| %>
          <div class="activity">
            <%= image_tag activity.owner.avatar_url(:mini), class: "super_tiny_avatar" %>
            <%= link_to activity.owner.username, activity.owner if activity.owner %>
            <%= render_activity activity %>
          </div>
        <% end %>
        <hr class="dashed"></hr>
      <!-- </div> -->
    <%# end %>

    <%= paginate @activities, :param_name => 'pub_page' %>

  </article>
</div>

<aside class="large-3 columns h3_it" style="margin-top: 4rem; font-size: 2.05556rem;">
  <% if user_signed_in? %>
    <div class="disc">
  <% else %>
    <div class="disc panel-white">
  <% end %>
    <%= raw markdown_for @snippet.body %>
   </div>
</aside>
