<section class="body-wrapper">
  <section class="body">
        <div class="paddingful-wrapper bg-orange">
            <div class="row circle-list skill-list pindan-sub-nav">
              <div class="circle-list-card">
                  <div class="floating-number">1</div>
                <h4 class="circle-list-card-header">发起拼单</h4>
                <ul class="circle-list-card-body">
                  <li><i class="fi-check"></i> 可发起批发拼单</li>
                  <li><i class="fi-check"></i> 可发起定做拼单</li>
                  <li><i class="fi-check"></i> 可发起海淘拼单</li>
                </ul>
              </div>

              <hr class="dashed hide-for-medium-up">

              <div class="circle-list-card">
                  <div class="floating-number">2</div>
                <h4 class="circle-list-card-header">参与拼单</h4>
                <ul class="circle-list-card-body">
                  <li><i class="fi-check"></i> 想批发可参与</li>
                  <li><i class="fi-check"></i> 想定制可参与</li>
                  <li><i class="fi-check"></i> 想海淘可参与</li>
                </ul>
              </div>

              <hr class="dashed hide-for-medium-up">

              <div class="circle-list-card">
                  <div class="floating-number">3</div>
                <h4 class="circle-list-card-header">拼单已下单</h4>
                <ul class="circle-list-card-body">
                  <li><i class="fi-check"></i> 满起批量下单</li>
                  <li><i class="fi-check"></i> 满起定量下单</li>
                  <li><i class="fi-check"></i> 满包邮量下单</li>
                </ul>
              </div>

              <hr class="dashed hide-for-medium-up">

              <div class="circle-list-card">
                  <div class="floating-number">4</div>
                <h4 class="circle-list-card-header">收货点评</h4>
                <ul class="circle-list-card-body">
                  <li><i class="fi-check"></i> 价格到位</li>
                  <li><i class="fi-check"></i> 定做合身</li>
                  <li><i class="fi-check"></i> 好用实惠</li>
                </ul>
              </div>
            </div>
            <div class="max-width-600px">
              <div class="row collapse postfix-round">
                <%= form_tag search_topics_path, method: :get do |f| %>
                  <div class="small-10 columns">
                    <%= text_field_tag 'q', params[:q], placeholder: '查找拼单', required: true %>
                  </div>

                  <div class="small-2 columns">
                    <%= button_tag(type: 'submit', class: "button postfix") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="empty-row"></div>
            </div>
        </div>
    <section class="fot-con-par clearfix">
      <div class="fot-con">
        <h3>最新拼单信息</h3>
        <div class="newest-pindan-info">
          <!-- <div class="newest-pindan-kinds"> -->
            <%#= image_tag 'pay_plan.png' %>
                <!--ul class="newest-pindan-kind-list">
                  <%# @catalogs.each do |catalog| %>
                    <li><%#= link_to catalog.name, topics_path(catalog_id: catalog.id) %></li>
                  <%# end %>
                </ul-->
          <!-- </div> -->
          <div class="newest-pindan-body">
            <ul class="newest-pindan-list row">
              <% @topics.each do |topic| %>
                <li class="columns large-6 medium-6 small-12">
                    <div class="newest-pindan-list-item-inside-wrapper">
                        <div class="heading-area">
                            <%= link_to topic.user do %>
                              <%= image_tag topic.user.avatar_url(:tiny), class: 'tiny_avatar avatar' %>
                            <% end %>
                            <h4 class="order-title">
                                <%= link_to topic do %>
                                  <%= topic.title %>
                                <% end %>
                            </h4>
                        </div>
                        <div class="content-area-1">
                            <div class="tag-list">
                                <span><%= topic.freight_source_to_cn %></span>
                                <span><%= topic.catalog.name %></span>
                            </div>
                        </div>
                        <div class="content-area-2">
                            <div class="order-comments">

                            </div>
                        </div>
                    </div>
                </li>
              <% end %>
            </ul>

            <%#= paginate @topics %>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
