<% unless user_signed_in? %>
  <!-- 感谢百度经验！ -->
  <!-- http://jingyan.baidu.com/user/income/school -->
  <section class="body-wrapper">
    <section class="body">
      <section class="top-img-bar">
        <div class="top-img-con">
          <div class="big-title"></div>

          <h3 class="top-desc text-center">干活一定要找个好师傅，跟他学习，对你很有帮助，一定要找一个师傅。</h3>

          <div class="des-step">
            <div class="step-blk step-1"></div>
            <div class="step-blk step-2"></div>
            <div class="step-blk step-3"></div>
            <div class="step-blk step-4"></div>
          </div>

          <div>
            <%= form_for :user, url: user_session_path do |f| %>
              <div class="row columns large-8 collapse" id="signin-form">
                <div class="small-1 columns" id="label-login">
                  <%= f.label :login do %>
                    <span class="prefix login"><i class="fi-torso large"></i></span>
                  <% end %>
                </div>
                <div class="small-3 columns">
                  <%= f.text_field :login, required: true, autofocus: true, placeholder: t("devise.email_or_username") %>
                </div>

                <div class="small-1 columns" id="label-password">
                  <%= f.label :password do %>
                    <span class="prefix password"><i class="fi-lock large"></i></span>
                  <% end %>
                </div>
                <div class="small-3 columns end">
                  <%= f.password_field :password, required: true, autocomplete: "off", placeholder: t("devise.password") %>
                </div>
                
                <div class="right">
                <%= f.submit  "登录", class: "success tiny button radius" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </section>

      <% first_user = @four_users.first %>
      <% second_user = @four_users.second %>
      <% third_user = @four_users.third %>
      <% fourth_user = @four_users.fourth %>
      <% user_ids = User.ids %>

      <section class="mid-con-par row full-width show-for-large-up">
        <div class="mid-con-wrp">
          <p class="mid-desc">柏拉图有苏格拉底作为导师，你也应该找到某人并为之保护 ...</p>

          <div class="tutor-block clearfix small-block-grid-2">
            <div class="tutor columns large-6 small-12 tutor-1 left">
              <%= render 'users/tutor_portrait', user: first_user %>

              <div class="robe-arrow robe-arrow-l"></div>
              <div class="robe-arrow robe-arrow-r"></div>

              <div class="tutor-desc">
                <p><span>所属分类：</span>游戏/数码</p>

                <p><span>成功指导学员：</span>354</p>
              </div>

              <div class="trainee-portrait trainee-portrait-11">
                <%= render "users/trainee_portrait", user: User.find(user_ids.sample) %>
              </div>

              <div class="trainee-portrait trainee-portrait-12">
                <%= render "users/trainee_portrait", user: User.find(user_ids.sample) %>
              </div>
            </div>

            <div class="tutor columns large-6 small-12 tutor-2 right">
              <%= render 'users/tutor_portrait', user: second_user %>

              <div class="robe-arrow robe-arrow-l"></div>
              <div class="robe-arrow robe-arrow-r"></div>
              <div class="tutor-desc">
                <p><span>所属分类：</span>游戏/数码</p>

                <p><span>成功指导学员：</span>363</p></div>
              <div class="trainee-portrait trainee-portrait-21">
                <%= render "users/trainee_portrait", user: User.find(user_ids.sample) %>
              </div>
              <div class="trainee-portrait trainee-portrait-22">
                <%= render "users/trainee_portrait", user: User.find(user_ids.sample) %>
              </div>
            </div>
          </div>

          <div class="tutor-block clearfix small-block-grid-2">
            <div class="tutor columns large-6 small-12 tutor-3 left">
              <%= render 'users/tutor_portrait', user: third_user %>

              <div class="robe-arrow robe-arrow-l"></div>
              <div class="robe-arrow robe-arrow-r"></div>
              <div class="tutor-desc">
                <p><span>所属分类：</span>职场/理财</p>

                <p><span>成功指导学员：</span>154</p></div>
              <div class="trainee-portrait trainee-portrait-31">
                <%= render "users/trainee_portrait", user: User.find(user_ids.sample) %>
              </div>
              <div class="trainee-portrait trainee-portrait-32">
                <%= render "users/trainee_portrait", user: User.find(user_ids.sample) %>
              </div>
            </div>

            <div class="tutor columns large-6 small-12 tutor-4 right">
              <%= render 'users/tutor_portrait', user: fourth_user %>

              <div class="robe-arrow robe-arrow-l"></div>
              <div class="robe-arrow robe-arrow-r"></div>
              <div class="tutor-desc">
                <p><span>所属分类：</span>美食/营养</p>

                <p><span>成功指导学员：</span>204</p></div>
              <div class="trainee-portrait trainee-portrait-41">
                <%= render "users/trainee_portrait", user: User.find(user_ids.sample) %>
              </div>
              <div class="trainee-portrait trainee-portrait-42">
                <%= render "users/trainee_portrait", user: User.find(user_ids.sample) %>
              </div>
            </div>
          </div>

          <p class="tutor-more">
            <%#= link_to users_path, target: "_blank" do %>
              <!-- 查看完整导师名单&nbsp;<span>&gt;&gt;</span> -->
            <%# end %>
          </p>
        </div>
      </section>

      <section class="fot-con-par clearfix">
        <div class="fot-con">
          <h3>本周活跃用户排行（<%= Date.today.beginning_of_week.strftime("%-d 日") %> 至 <%= Date.today.end_of_week.strftime("%-d 日") %>）</h3>

          <div class="doing-wrap columns large-12">
            <div class="joing columns large-4">
              <div class="s-title"><h4>最新帖子</h4></div>
              <div class="joing-list-wrap">
                <% joing_list = Topic.limit(5).order(id: :desc) %>
                <ul id="joing-list" class="joing-list" style="top: 0px; left: 0px;">
                  <% joing_list.each do |topic| %>
                    <li>
                      <!-- <span class="join-uname"> -->
                      <%= link_to topic do %>
                      <%= truncate topic.title, length: 18 %>
                      <% end %>
                      <!-- </span> -->
                        <%#= link_to topic.user do %>
                          <%#= image_tag topic.user.avatar_url(:mini), class: "super_tiny" %>
                        <%# end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>

            <div class="curcha columns large-4">
              <div class="s-title"><h4>功课排名</h4></div>
              <% curcha_list = User.order("posts_count desc").limit(5) %>
              <div class="curcha-list">
                <!-- <p class="tit">原创经验</p> -->
                <p class="tit"></p>
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <span class="num num1">NO&nbsp;1</span>&nbsp;
                        <span class="rankuanme" title="<%= curcha_list.first.username %>">
                          <%= truncate curcha_list.first.username, length: 10 %>
                        </span>
                      </td>
                      <td class="exp-num"><%= curcha_list.first.posts_count %>篇</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="num num2">NO&nbsp;2</span>&nbsp;
                        <span class="rankuanme" title="<%= curcha_list.second.username %>">
                          <%= truncate curcha_list.second.username, length: 10 %>
                        </span>
                      </td>
                      <td class="exp-num"><%= curcha_list.second.posts_count %>篇</td>
                    </tr>
                    <tr>
                      <td><span class="num num3">NO&nbsp;3</span>&nbsp;
                      <span class="rankuanme" title="<%= curcha_list.third.username %>">
                        <%= truncate curcha_list.third.username, length: 10 %></span>
                      </td>
                      <td class="exp-num"><%= curcha_list.third.posts_count %>篇</td>
                    </tr>
                    <tr>
                      <td><span class="num num4">NO&nbsp;4</span>&nbsp;
                      <span class="rankuanme" title="<%= curcha_list.fourth.username %>">
                        <%= truncate curcha_list.fourth.username, length: 10 %></span>
                      </td>
                      <td class="exp-num"><%= curcha_list.fourth.posts_count %>篇</td>
                    </tr>
                    <tr>
                      <td><span class="num num5">NO&nbsp;5</span>&nbsp;
                      <span class="rankuanme" title="<%= curcha_list.fifth.username %>">
                        <%= truncate curcha_list.fifth.username, length: 10 %></span>
                      </td>
                      <td class="exp-num"><%= curcha_list.fifth.posts_count %>篇</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="prizes columns large-4">
              <div class="s-title"><h4>本项功能待定</h4></div>
              <div class="prizes-wrp">
                <span class="ico-rk ico-rk1"></span>
                <span class="ico-rk ico-rk2"></span>
                <span class="ico-rk ico-rk3"></span>

                <div class="pri-img pri-img1">
                  <!-- <a target="_blank" href="/assets/huizhuanshousiDT.jpg"> -->
                    <img src="/assets/huizhuanshousiDT.jpg" title="游卡桌游回转寿司">
                  <!-- </a> -->
                </div>
                <div class="pri-img pri-img2">
                  <!-- <a target="_blank" href="/assets/qinghuaci-418.jpg"> -->
                    <img src="/assets/qinghuaci-418.jpg" title="青花瓷钥匙扣套装">
                  <!-- </a> -->
                </div>
                <div class="pri-img pri-img3">
                  <!-- <a target="_blank" href="/assets/xiaoduwufi-419.jpg"> -->
                    <img src="/assets/xiaoduwufi-419.jpg" title="小度WIFI">
                  <!-- </a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </section>
<% else %>
  <div class="large-9 columns" role="content">
    <article>
      <%# @activities.each_slice(5) do |activities| %>
        <!-- <div> -->
          <% @activities.each do |activity| %>
            <!-- <div class="activity"> -->
              <%#= image_tag activity.owner.avatar_url(:mini), class: "super_tiny_avatar" %>
              <%#= link_to activity.owner.username, activity.owner if activity.owner %>
              <%= render_activity activity %>
            <!-- </div> -->
          <hr class="dashed"></hr>
        <!-- </div> -->
      <% end %>

      <%= paginate @activities, :param_name => 'pub_page' %>

    </article>
  </div>

  <aside class="large-3 columns h3_it" style="margin-top: 4rem; font-size: 2.05556rem;">
    <div class="disc">

    <%= raw markdown_for @snippet.body %>
   </div>
  </aside>
<% end %>