<% @subjects.each do |subject| %>
  <section>
    <div class="large-12 columns centered-text">
      <h2>
        <%= link_to subject.title, subject %>
      </h2>
    </div>

    <div class="small-1 large-1 columns testimonial">
      <div class="quote-marks">“</div>
    </div>

    <div class="small-11 large-11 columns testimonial">
      <div class="quote panel callout radius">
        <p>
        <% if subject.desc_long_comment.present? %>
          <%= raw markdown_for(subject.desc_long_comment.content) %>
          <i class="fi-comment-quotes large"></i>
        <% else %>
          <%= raw markdown_for(truncate subject.body, length: 140) %>
        <% end %>
        </p>
      </div>
      <div class="student">
        <div class="photo"><%= image_tag subject.user.avatar_url(:thumb) %></div>
        <% if subject.desc_long_comment.present? %>
          <p>
            <%= link_to subject.desc_long_comment.user do %>
              <%= subject.desc_long_comment.user.username %>
            <% end %>
            </p>
          <p><%= subject.desc_long_comment.user.info %></p>
        <% else %>
          <p><%= link_to subject.user do %><%= subject.user.username %><% end %></p>
          <p><%= subject.user.info %></p>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<%= paginate @subjects %>
