<p id="notice"><%= notice %></p>

<p>
  <h1><%= @subject.title %></h1>
</p>

<p>
  <%= raw(markdown_for @subject.body) %>
</p>

<% if can? :update, @subject %>
  <%= link_to 'Edit', edit_subject_path(@subject) %>
<% end %>

<hr class="dashed">

<div class="row">

  <%= form_for :comment, url: subject_comments_path(@subject) do |f| %>
    <% if can_comment?(@subject) %>
      <%= f.text_area :content, rows: 10, required: true %>
    <% else %>
      <%= f.text_area :content, rows: 10, disabled: true, required: true, placeholder: "只有已登录用户，及导师、学生、同学、朋友可以评论哦 ~" %>
    <% end %>
    <%= f.submit %>
  <% end %>

  <hr class="dashed">

  <% @comments.each do |comment| %>
    <div class="comment" id="<%= dom_id comment %>">
      <section class="top">
        <h6 class="byline">
          <a href="#"><i class="icon"></i><%= comment.user.username %><% if comment.user == @subject.user %>
                <span class="label"> Post Author</span>
              <% end %></a>
          <small>said
            <span class="data">
              <%= time_ago_in_words comment.created_at %>
            </span>
          </small>
        </h6>
      </section>
      <section class="content">
        <%= raw markdown_for(comment.content) %>
      </section>
      <section class="actions">

        <ul class="inline-list">
          <li><a href="#">喜欢 (3)</a></li>
          <li><a href="#">分享</a></li>
          <li>
            <%= link_to "回复", new_comment_reply_path(comment), remote: true %>
          </li>
        </ul>

      </section>

    </div>
  <% end %>
</div>



