<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "标题" %><br>
    <%= f.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= f.label :description, "简介" %><br>
    <%= f.text_area :description, rows: 10 %>
  </div>

  <!-- <hr class="dashed"></hr> -->
  <!-- <div class="centered-text">各个课程的内容概述</div> -->
  <hr class="dashed"></hr>

  <%#= f.fields_for :sections do |builder| %>
     <%#= render "section_fields", :f => builder %>
  <%# end %>

  <div>
    <%#= link_to "添加课程及简述", add_section_path, remote: true, method: :post, disable_with: '...', id: "add_section" %>

    <%= link_to "更多选项 ...", "javascript:void(0);", id: "more_opt" %>
  </div>

  <hr class="dashed">

  <section id="more_content" class="row collapse">
    <%= f.label :icon, "设置显示在首页的图标 (从 fi 或 fa 里选择一个即可)" %><br>

    <div class="small-1 large-1 columns">
      <span class="prefix">fi-</span>
    </div>
    <div class="small-5 large-5 columns">
      <%= f.text_field :icon_fi %>
    </div>

    <div class="small-1 large-1 columns">
      <span class="prefix">fa-</span>
    </div>
    <div class="small-5 large-5 columns">
      <%= f.text_field :icon_fa %>
    </div>
  </section>

  <div class="actions">
    <%= f.submit "提交", class: "blue tiny button radius" %>
  </div>
<% end %>
