<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <%= f.label :icon %><br>

    <div class="small-3 large-2 columns">
      <span class="prefix">fi-</span>
    </div>

    <div class="small-9 large-10 columns">
      <%= f.text_field :icon %>
    </div>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 5 %>
  </div>

  <%= f.fields_for :sections do |builder| %>
     <%= render "section_fields", :f => builder %>
  <% end %>

  <section id="add_section">
    <%= link_to "添加课程及简述", add_section_path, remote: true, method: :post, disable_with: '...' %>
  </section>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
