<% set_meta_tags :title => "课程集合" %>

<% @posts.each_slice(3) do |posts| %>
  <article class="row circle-list">
    <% posts.each do |post| %>
      <div class="medium-4 columns">
        <div class="guide-cover js-guide-cover js-geopattern" style="padding-bottom: 0.5rem; background-image: <%= pattern post.title %>;text-align: center;">
          <%= link_to post do %>
            <div class="icon-container panel-white" style="display: inline-block; margin-top: 1rem;">
              <% if post.icon.present? %>
                <span class="fi-<%= post.icon %> large mega-octicon"></span>
              <% else %>
                <span class="fi-page-multiple large mega-octicon"></span>
              <% end %>
            </div>
            <h3 class="guide-cover-title js-guide-cover-title panel-white"><%= post.title %></h3>
          <% end %>
        </div>

        <p class="subheader">
          <%= link_to post.user do %>
            <%= image_tag post.user.avatar_url(:tiny), class: 'super_tiny_avatar avatar' %>&nbsp;
          <% end %>
          <%= post.user.username %>
        </p>
        <style type="text/css">
          p.post-description {
            height: 425px;
            border: 1px solid #ddd;
          }
        </style>
        <p class="post-description"><%= truncate post.description, length: 425 %></p>
        <p><i class="fi-clock"></i>&nbsp;<%= time_ago_in_words post.updated_at %> 前</p>
      </div>
      <hr class="dashed hide-for-medium-up">
    <% end %>
  </article>
<% end %>

<%= paginate @posts %>
