<p id="notice"><%= notice %></p>

采用设计，可以参考：https://guides.github.com/features/pages/#intro

<p>
  <h1><%= @post.title %></h1>
</p>

<p>
  <%= raw(markdown_for @post.description) %>
</p>

<div class="row step-by-step-style-one">
  <div class="small-12 columns">
    <% @sections.each_with_index do |section, index| %>
      <!-- <div class="path-item"> -->
        <!-- <div class="circlenumber"> -->
          <!-- <h3><%#= index %></h3> -->
        <!-- </div> -->

        <% if section.heading.present? %>
          <h2 class="panel"><%= section.heading %></h2>
        <% end %>

        <p><%= raw(markdown_for section.description) %></p>
      <!-- </div> -->
    <% end %>
  </div>
</div>

<% if can? :update, @post %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>