<% set_meta_tags :title => @post.title %>

<h1 class='panel-white' style="background-image: <%= pattern @post.title %>;">
  <div class="icon-container panel-white show_title">
    <% if @post.icon.present? %>
      <span class="fi-<%= @post.icon %> large"></span>
    <% else %>
      <span class="fi-page-multiple large mega-octicon"></span>
    <% end %>
  </div>
  <%= @post.title %>
</h1>

<div class="large-12 columns">
  <div class="large-9 columns" role="content">
    <p>
      <%= raw(markdown_for @post.description) %>
    </p>

    <script type="text/javascript">
      $("h2").addClass("panel");
    </script>

    <%# @sections.each_with_index do |section, index| %>
        <%# if section.heading.present? && section.two? %>
          <!-- <h2 class="panel"><%#= link_to section.heading, "##{dom_id section}" %><%=  %></h2> -->
        <%# elsif section.heading.present? && section.three? %>
          <!-- <h3 class="panel"><%#= link_to section.heading, "##{dom_id section}" %><%=  %></h3> -->
        <%# end %>

        <!-- <p><%#= raw(markdown_for section.description) %></p> -->
      <!-- </div> -->
    <%# end %>

    <%# if can? :update, @post %>
      <%#= link_to 'Edit', edit_subject_path(@post) %>
    <%# end %>

    <% if @post.comments.size > 2 %>
      <div class="page-count">
        <hr>
        <ul class="large-block-grid-2 small-block-grid-2">
          <li>
          &nbsp;
            <a href="#add-reply">
              <i class="fi-plus"></i>&nbsp;
              <span>Add a reply</span>
            </a>
          </li>
        </ul>
        <hr>
      </div>
    <% end %>

    <style type="text/css">
      .add-comment-tabs ul.large-block-grid-2.small-block-grid-1 li:first-child {
        width: 14%;
      }

      .add-comment-tabs ul.large-block-grid-2.small-block-grid-1 li:last-child {
        margin-left: 2%;
        width: 84%;
      }
    </style>

    <% @comments.each do |comment| %>
      <div class="row comment old">
        <div class="large-12 small-12 columns">
          <div class="panel comment-wrapper">
            <h5 class="content-title">
              <%= link_to comment.user do %>
                <%= image_tag comment.user.avatar_url(:mini) %>
                <%= comment.user.username %>
                <% if comment.user == @post.user %>
                  <span class="label"> 作者</span>
                <% end %>
              <% end %>
              <span class="date"><%= time_ago_in_words comment.created_at %></span>
            </h5>

            <div class="row comment-body">
              <div class="large-12 small-12 columns">
                <p></p><p>
                <%= raw markdown_for(comment.content) %>
                </p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row add-comment">
      <div class="large-12 columns">
        <a name="add-reply"></a>
        <div class="add-comment-tabs section-container tabs" data-section="tabs" data-section-resized="true" style="min-height: 42px;">
          <section class="write active" style="padding-top: 42px;">
            <p class="title" data-section-title="" style="left: 0px; height: 42px;">
              <%= render 'shared/want_mentor_button', user: @post.user %>
            </p>

            <div class="content" data-section-content="">
              <ul class="large-block-grid-2 small-block-grid-1 write">
                <li class="hide-for-small">
                  <%= image_tag @post.user.avatar_url(:thumb) %>
                  <br>
                  <span class="centered-text">(作者)</span>
                </li>

                <li>
                  <%= form_for :comment, url: subject_comments_path(@post) do |f| %>
                    <% if can_comment?(@post) %>
                      <%= f.text_area :content, rows: 10, required: true %>
                    <% else %>
                      <%= f.text_area :content, rows: 10, disabled: true, required: true, placeholder: "只有导师、学生和朋友可以评论哦 ~" %>
                    <% end %>
                    <%= f.submit "提交", class: "blue tiny button radius" %>
                  <% end %>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <aside class="large-3 columns hide-for-small" id="when_top_fixed_me">
    <h5>Toc</h5>

    <div>
      <ul class="side-nav">
        <% @sections.each_with_index do |section, index| %>
          <li>
            <%= link_to section.heading, "##{dom_id section}" %>
          </li>
        <% end %>
      </ul>
    </div>

    <div style="margin-left: 1rem;">
      <%= render 'shared/want_mentor_button', user: @post.user %>
    </div>
  </aside>
</div>

<% if can? :update, @post %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>