<p id="notice"><%= notice %></p>

<p>
  <h1><%= @post.title %></h1>
</p>

<% @sections.each do |section| %>
  <p>
    <strong>Heading:</strong>
    <%= section.heading %>
  </p>

  <p>
    <strong>Session Description:</strong>
    <%= section.description %>
  </p>
  <hr>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %>
