<h1 class='panel-white' style="background-image: <%= pattern @post.title %>;">
  <div class="icon-container panel-white show_title">
    <% if @post.icon.present? %>
      <span class="fi-<%= @post.icon %> large"></span>
    <% else %>
      <span class="fi-page-multiple large mega-octicon"></span>
    <% end %>
  </div>
  <%= @post.title %>

</h1>


<div class="row">
  <div class="large-9 columns" role="content">
    <p>
      <%= raw(markdown_for @post.description) %>
    </p>

    <% @sections.each_with_index do |section, index| %>
        <% if section.heading.present? %>
          <h2 class="panel"><%= link_to section.heading, "##{dom_id section}" %><%=  %></h2>
        <% end %>

        <p><%= raw(markdown_for section.description) %></p>
      <!-- </div> -->
    <% end %>
  </div>

  <aside class="large-3 columns hide-for-small">
    <h5>Toc</h5>

    <div data-magellan-expedition="fixed">
      <ul class="sub-nav">
        <% @sections.each_with_index do |section, index| %>
          <li data-magellan-arrival="build">
            <%= link_to section.heading, "##{dom_id section}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </aside>
</div>

<% if can? :update, @post %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>