<div style="margin-bottom: 1%;">
<% if activity.recipient %>

    <%= image_tag activity.owner.avatar_url(:mini), class: "super_tiny_avatar avatar" %>
    <%= link_to activity.owner.username, activity.owner if activity.owner %>
    对

    <% if activity.recipient.user %>
      <%= image_tag activity.recipient.user.avatar_url(:mini), class: "super_tiny_avatar avatar" %>
      <%= link_to activity.recipient.user.username, activity.recipient.user %>
    <% end %>

    的拼单

      <%= link_to activity.recipient.title, activity.recipient %>

    留下了评论。

<% end %>
</div>
