<h2><%= t('.contact_us') %></h2>

<%= form_for :contact, url: contact_create_path do |f| %>
  <%= f.label :email, "邮箱" %>
  <% if user_signed_in? %>
    <%= f.text_field :email, value: current_user.email, required: true %><br>
  <% else %>
    <%= f.text_field :email, required: true %><br>
  <% end %>
  <%= f.label :subject, "主题" %>
  <%= f.text_field :subject, required: true %>
  <%= f.label :message, "反馈内容" %>
  <%= f.text_area :message, rows: 15, required: true %>

  <%= f.submit "提交", class: "button blue tiny radius" %>
<% end %>

<div class="row">
  <div class="large-12 columns centered-text">
    <!-- <h2>感谢您的反馈</h2> -->
    <h4 class="subheader">无论您发现什么问题，或者对网站有什么建议，请一定联系我。</h4>
    <p>感谢您的反馈！网站还在开发过程中，如果您发现问题，或者对产品有什么好的建议，请直接向我提出。我会认真研究您所提供的反馈，并以实际行动来回复您。再次表示谢谢。</p>
  </div>
</div>
