<div class="row">
  <div class="margin-content large-10 small-12 columns large-offset-1">
    <!-- tabs header -->
    <ul class="tabs box-border" data-tab role="tablist">
      <li class="tab-title active" role="presentational" >
        <a href="#notification-1" role="tab" tabindex="0" aria-selected="true" controls="notification-1">普通消息</a>
      </li>
      <li class="tab-title" role="presentational" >
        <a href="#notification-2" role="tab" tabindex="0"aria-selected="false" controls="notification-2">拼单反馈</a>
      </li>
      <li class="tab-title" role="presentational">
        <a href="#notification-3" role="tab" tabindex="0" aria-selected="false" controls="notification-3">私信我</a>
      </li>
      <li class="tab-title" role="presentational" >
        <a href="#notification-4" role="tab" tabindex="0" aria-selected="false" controls="notification-4">关注我</a>
      </li>
    </ul>

    <!-- tabs content -->
    <div class="tabs-content">
      <!-- 普通消息 -->
      <section role="tabpanel" aria-hidden="false" class="content active" id="notification-1">
        <div id="to_my_resource">
          <%= render_activities(@to_my_resource, locals: {to_me: true}) %>
        </div>

        <div id="to_my_resource_paginate">
          <%= paginate @to_my_resource, :remote => true, param_name: :to_my_resource %>
        </div>
      </section>

      <!-- 拼单反馈 -->
      <section role="tabpanel" aria-hidden="true" class="content" id="notification-2">
        <div id="to_my_request">
          <%= render_activities(@to_my_request, locals: {to_me: true}) %>
        </div>

        <div id="to_my_request_paginate">
          <%= paginate @to_my_request, remote: true, :param_name => 'to_my_request' %>
        </div>
      </section>

      <!-- 私信我 -->
      <section role="tabpanel" aria-hidden="true" class="content" id="notification-3">
        <!-- 私信&nbsp;(<%#= DirectMessage.where(to_user_id: current_user.id).not_read.count %>&nbsp;未读)： -->
        <div id="direct_messages">
          <%= render partial: "direct_messages/direct_message", collection: @direct_messages %>
        </div>

        <div id="direct_messages_paginate">
          <%= paginate @direct_messages, remote: true, :param_name => 'direct_messages' %>
        </div>
      </section>

      <!-- 关注我 -->
      <section role="tabpanel" aria-hidden="true" class="content" id="notification-4">
        <div id="follower_to_me">
          <%= render_activities(@follower_to_me, locals: {to_me: true}) %>
        </div>

        <div id="follower_to_me_paginate">
          <%= paginate @follower_to_me, remote: true, :param_name => 'follower_to_me' %>
        </div>
      </section>
    </div>

  </div>
</div>
