<div class="contain-to-grid fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to root_path do %>
            <span>Found</span>
            <span style="color: rgb(240, 65, 36);">Mentor</span>
          <% end %>
        </h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li><%= link_to '拜师收徒', topics_path %></li>
              <li class="divider"></li>
        <li><%= link_to '杂文', posts_path %></li>
        <li class="divider"></li>
        <li><%= link_to '心愿', wishes_path %></li>
        <!-- <li><%#= link_to '分类导航', catalogs_path %></li> -->

        <li class="divider"></li>
        <li class="has-form">
          <%= form_tag search_topics_path, method: :get, class: "row collapse" do |f| %>
            <div class="large-8 small-9 columns">
              <%= text_field_tag 'q', params[:q], placeholder: 'Find Stuff', required: true %>
            </div>

            <div class="large-4 small-3 columns">
              <%= submit_tag '搜索', class: "alert button expand" %>
            </div>
          <% end %>
        </li>

        <li>
          <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Dropdown Button</button><br>
          <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
            <li><a href="#">This is a link</a></li>
            <li><a href="#">This is another</a></li>
            <li><a href="#">Yet another</a></li>
          </ul>
        </li>

        <li class="has-dropdown">
          <%= link_to "写点什么", "javascript:void(0);" %>
          <ul class="dropdown">
            <li><%= link_to '拜师贴', topics_bai_shi_new_path %></li>
            <li><%= link_to '收徒贴', topics_shou_tu_new_path %></li>
            <!-- <li><%#= link_to '拜师兼收徒', topics_bai_shi_he_shou_tu_new_path %></li> -->
            <li><%= link_to '技能交换贴', topics_qi_ta_new_path %></li>
            <li class="divider"></li>
            <li><%= link_to '杂文', new_post_path %></li>
            <li class="divider"></li>
            <li><%= link_to '心愿', new_wish_path %></li>
          </ul>
        </li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li>
          <%= link_to activities_index_path do %>
            <% if user_signed_in? && DirectMessage.not_read.where(to_user_id: current_user.id).exists? %>
              <i class="fa fa-bell fa-2x"></i>
            <% else %>
              <i class="fa fa-bell fa-2x" style="opacity: 0.4;"></i>
            <% end %>
          <% end %>
        </li>

        <% if user_signed_in? %>
          <li class="active">
            <%= link_to users_profile_path, style: 'background: #333333;' do %>
              <%= image_tag current_user.avatar_url(:tiny), class: 'tiny_avatar' %>
            <% end %>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <%= link_to current_user.username, "javascript:void(0);" %>
            <ul class="dropdown">
              <li><%= link_to '设置', edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to '注销', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="divider"></li>
        
          <li class="has-form">
            <%= link_to '注册', new_user_registration_path, class: "small button" %>
          </li>

          <li class="divider"></li>
          <li><%= link_to '登录', new_user_session_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
