<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to root_path do %>
            <span class="jms-logo">加盟说</span>
          <% end %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <!-- <li class="divider"></li> -->
        <% if user_signed_in? %>
          <li>
            <%= link_to new_topic_path, class: "post-pindan" do %>
              <i class="fa fa-pencil"></i> 发布拼单
            <% end %>
          </li>
          <li class="active">
            <%= link_to topics_path, class: "post-pindan" do %>
              <i class="fa fa-star"></i> 参与拼单
            <% end %>
          </li>
          <li>
            <%= link_to activities_index_path, class: "post-pindan" do %>
              <i class="fa fa-bell"></i> 消息
            <% end %>
          </li>

          <li class="has-dropdown">
            <%= link_to "javascript:void(0);" do %>
              <%= current_user.username %> <i class="fa fa-caret-down"></i>
            <% end %>
            <ul class="dropdown box-shadow">
              <li><%= link_to '我的主页', users_profile_path %></li>
              <!-- <li class="divider"></li> -->
              <li><%= link_to '设置', edit_user_registration_path %></li>
              <!-- <li class="divider"></li> -->
              <li><%= link_to '退出', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <!-- <li class="divider"></li> -->
          <li>
            <%= link_to topics_path, class: "post-pindan" do %>
              <i class="fa fa-star"></i> 参与拼单
            <% end %>
          </li>
          <!-- <li class="divider"></li> -->
          <li class="active">
            <a class="post-pindan" href="javascript:void(0);" data-reveal-id="myModal">登录</a>
          </li>
          <!-- <li class="divider"></li> -->
          <li>
            <a class="post-pindan" href="javascript:void(0);" data-reveal-id="signup">注册</a>
          </li>
        <% end %>

        <li>
          <%= link_to page_path(:help), class: "help-page" do %>
            <i class="fa large fa-question-circle"></i> 拼单帮助</a>
          <% end %>
        </li>
      </ul>
    </section>
  </nav>
</div>

<div id="myModal" class="reveal-modal remove-whitespace" data-reveal>
<div class="row">
    <!-- 登录 -->
    <div class="large-6 columns auth-plain">
      <div class="signup-panel left-solid">
        <p class="welcome">已有账号</p>
        <%= form_for(:user, url: user_session_path) do |f| %>
          <div class="row collapse">
            <div class="small-2 columns">
              <%= f.label :login do %>
                <span class="prefix"><i class="fi-mail large"></i></span>
              <% end %>
            </div>
            <div class="small-10  columns">
              <%= f.text_field :login, required: true, autofocus: true, placeholder: t("devise.email") %>
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns ">
              <%= f.label :password do %>
                <span class="prefix"><i class="fi-lock large"></i></span>
              <% end %>
            </div>
            <div class="small-10 columns ">
              <%= f.password_field :password, required: true, autocomplete: "off", placeholder: t("devise.password") %>
            </div>
          </div>
          <%= f.submit "登录", class: "button", style: "float: right;" %>
        <% end %>
        <div class="a-state-hover-underline qq-weibo-login">
          <%= link_to 'QQ登录', user_omniauth_authorize_path(:qq_connect) %>
          <%= link_to '微博登录', user_omniauth_authorize_path(:weibo) %>
          <%= link_to new_user_password_path, class: "forgot-your-password" do %>
            忘记密码?
          <% end %>
        </div>
      </div>
    </div>

    <!-- 注册 -->
    <div class="large-6 columns auth-plain">
      <div class="signup-panel newusers">
        <p class="welcome"> 还没有账号?</p>
        <p>注册账户以后就可以参与拼单或者发布拼单啦!</p>
        <a href="#" class="button" data-reveal-id="signup" style="margin-left: 33%;">立即注册</a>
      </div>
    </div>

   </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="signup" class="reveal-modal medium" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
  <div class="row">

    <div class="large-7 columns">
      <div class="signup-panel" style="position: relative; left: 36%;">
        <p class="welcome"> 欢迎来到加盟说!</p>
        <%= form_for(:user, url: user_registration_path) do |f| %>
          <div class="row collapse">
            <div class="small-2  columns">
              <%= f.label :username do %>
                <span class="prefix"><i class="fi-torso large"></i></span>
              <% end %>
            </div>
            <div class="small-10  columns">
              <%= f.text_field :username, required: true, placeholder: t("devise.username") %>
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns">
              <%= f.label :email do %>
                <span class="prefix"><i class="fi-mail large"></i></span>
              <% end %>
            </div>
            <div class="small-10  columns">
              <%= f.email_field :email, required: true, autofocus: true, placeholder: t("devise.email") %>
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns ">
              <%= f.label :password do %>
                <span class="prefix"><i class="fi-lock large"></i></span>
              <% end %>
            </div>
            <div class="small-10 columns ">
              <%= f.password_field :password, required: true, autocomplete: "off", placeholder: t("devise.password") %>
            </div>
          </div>
          <%= f.submit "注册!", class: "button" %>
        <% end %>
         <!-- <p>Already have an account? <a href="#">denglu</a></p> -->
      </div>
    </div>
   </div>
   <a class="close-reveal-modal">&#215;</a>
</div>
