<!-- <header class="header-body">
  <div class="header-logo"><img src="/assets/jiamengshuo-logo.png"></div>
  <div class="header-nav text-right">
    <ul> -->
      <%# unless user_signed_in? %>
        <!-- <li><%#= link_to '微博登录', user_omniauth_authorize_path(:weibo), class: "header-login" %></li> -->
        <!-- <li><%#= link_to 'QQ登录', user_omniauth_authorize_path(:qq_connect), class: "header-login" %></li> -->
        <!-- <li><%#= link_to '登录', new_user_session_path, class: "header-login" %> -->
        <!-- <li><%#= link_to '注册', new_user_registration_path, class: "header-login" %></li> -->
      <%# end %>
     <!--  <li><a class="post-pindan" href="/topics/new"><i class="fi-volume"></i> 发布拼单</a></li>
      <li><a class="post-pindan" href="/topics"><i class="fi-home"></i> 参与拼单</a></li>
    </ul>
  </div>
</header> -->

<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to root_path do %>
            <span style="color: rgb(240, 65, 36);">加盟说</span>
          <% end %>
        </h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->

      <ul class="left">
        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="查找拼单">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand"><i class="fa fa-search"></i></a>
            </div>
          </div>
        </li>
        <!-- <li class="divider"></li> -->
        <!-- <li><%#= link_to "批发拼单", topics_pi_fa_path %></li> -->
        <!-- <li class="divider"></li> -->
        <!-- <li><%#= link_to "定做拼单", topics_ding_zhuo_path %></li> -->
        <!-- <li class="divider"></li> -->
        <!-- <li><%#= link_to "海淘拼单", topics_hai_tao_path %></li> -->
        <!-- <li class="divider"></li> -->
        </li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <!-- <li class="divider"></li> -->
        <% if user_signed_in? %>
          <!-- <li class="active"> -->
            <%#= link_to users_profile_path, style: 'background: #333333;' do %>
              <%#= image_tag current_user.avatar_url(:tiny), class: 'tiny_avatar' %>
            <%# end %>
          <!-- </li> -->

          <li><a class="post-pindan" href="/topics/new"><i class="fi-volume"></i> 发布拼单</a></li>
          <li class="divider"></li>
          <li class="active"><a class="post-pindan" href="/topics"><i class="fi-home"></i> 参与拼单</a></li>
          <li class="divider"></li> 
          <li class="divider"></li>
          <li class="has-dropdown">
            <%= link_to current_user.username, "javascript:void(0);" %>
            <ul class="dropdown">
              <li><%= link_to '我的主页', users_profile_path %></li>
              <li class="divider"></li>
              <li><%= link_to '消息提醒', "#" %></li>
              <li class="divider"></li>
              <li><%= link_to '设置', edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to '注销', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="active"><a class="post-pindan" href="/users/sign_in">登录</a></li>
        <% end %>
        <li class="divider"></li>
        <li class="has-form">
          <a href="/page/help"><i class="help">?</i> 拼单帮助</a>
        </li>
      </ul>
    </section>
  </nav>
</div>
