<header>
  <div class="header-logo">
    加盟说
  </div>
  <div class="header-nav text-right">
    <ul>
      <li><a href="#" class="header-login">微博登录</a></li>
      <li><a href="#" class="header-login">QQ登录</a></li>
      <li><a href="#" class="header-login">登录</a></li>
      <li><a href="#" class="header-login">注册</a></li>
      <li><a href="#" class="post-pindan">发布拼单</a></li>
      <li><a href="#" class="post-pindan">参与拼单</a></li>
    </ul>
  </div>
</header>

<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to root_path do %>
            <span style="color: rgb(240, 65, 36);">加盟说</span>
          <% end %>
        </h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->

      <% unless user_signed_in? %>
        <ul class="left">
          <li class="divider"></li>
          <li><%= link_to '微博登录', user_omniauth_authorize_path(:weibo) %></li>
                <li class="divider"></li>
          <li><%= link_to 'QQ登录', user_omniauth_authorize_path(:qq_connect) %></li>
          <li class="divider"></li>
          <li><%= link_to '登录', new_user_session_path %></li>
          <li><%= link_to '注册', new_user_registration_path %></li>
          <!-- <li><%#= link_to '分类导航', catalogs_path %></li> -->

          <li class="divider"></li>
          </li>
        </ul>
      <% end %>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-form">
          <%= link_to '发布拼单', new_topic_path, class: "small button" %>
        </li>

        <li class="divider"></li>
        <li><%= link_to '参与拼单', topics_path %></li>
        <li class="divider"></li>
        <% if user_signed_in? %>
          <li class="active">
            <%= link_to users_profile_path, style: 'background: #333333;' do %>
              <%= image_tag current_user.avatar_url(:tiny), class: 'tiny_avatar' %>
            <% end %>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <%= link_to current_user.username, "javascript:void(0);" %>
            <ul class="dropdown">
              <li><%= link_to '设置', edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to '注销', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>

        <% else %>
          <li class="divider"></li>
        
          <li class="has-form">
            <%= link_to '拼单帮助', new_user_registration_path, class: "small button" %>
          </li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
