<div class="row">
  <dl class="sub-nav vertical">
    <!-- <div class="small-3 columns">
      <dt class="logo">
        <%#= link_to root_path do %>
          <%#= image_tag 'logo.png' %>
        <%# end %>
      </dt>
    </div> -->

    <!-- <div class="small-9 columns"> -->
      <!-- <dd class="<%#= current_page?(root_path)? 'active' : '' %>"><a href="javascript:void(0)">All</a></dd> -->
      <!-- <dd class="<%#= current_page?(page_path(:hots))? 'active' : '' %>"><a id="nav-hots" href="/page/hots">热门课程</a></dd> -->
      <!-- <dd class="<%#= current_page?(page_path(:recommend))? 'active' : '' %>"><a id="nav-recommend" href="/page/recommend">导师推荐</a></dd> -->
      <!-- <dd class="<%#= current_page?(page_path(:tags))? 'active' : '' %>"><a id="nav-tags" href="/page/tags">标签</a></dd> -->
      <!-- <dd class="<%#= current_page?(page_path(:badges))? 'active' : '' %>"><a id="nav-badges" href="/page/badges">成就榜</a></dd> -->
      <!-- <dd><a id="nav-divider" href="javascript:void(0)">  |  </a></dd> -->
      <dd class="<%= current_page?(new_post_path)? 'active' : '' %>">
        <!-- <a id="nav-course" href="/page/course">发布课程</a> -->
        <%= link_to "发布课程大纲", new_post_path %>
      </dd>
      <dd class="<%= current_page?(new_section_path)? 'active' : '' %>">
        <!-- <a id="nav-course" href="/page/course">发布课程</a> -->
        <%= link_to "发布课程", new_section_path %>
      </dd>

      <% if current_page?(wishes_path) || current_page?(new_wish_path) %>
        <dd class="<%= current_page?(new_wish_path)? 'active' : '' %>">
          <%= link_to '新建心愿单', new_wish_path, id: "nav-wish-list" %>
        </dd>
      <% end %>
    <!-- </div> -->
      <% if current_page?(topics_path) || current_page?(new_topic_path) %>
        <dd class="<%= current_page?(new_topic_path)? 'active' : '' %>">
          <%= link_to '新建话题、提问', new_topic_path, id: "nav-wish-list" %>
        </dd>
      <% end %>

      <% if user_signed_in? %>
        <dd class="<%= current_page?(pending_apply_students_user_path(current_user))? 'active' : '' %>">
          <%= link_to "申请学生", pending_apply_students_user_path(current_user), id: "nav-students" %>
        </dd>

        <dd class="<%= current_page?(pending_apply_students_user_path(current_user))? 'active' : '' %>">
          <%= link_to "消息墙", pending_apply_students_user_path(current_user), id: "nav-students" %>
        </dd>
      <% end %>
  </dl>
</div>