<div class="row">
  <dl class="sub-nav vertical">
    <dd class="<%= current_page?(root_path)? 'active' : '' %>">
      <%= link_to "首页", root_path %>
    </dd>
    <dd class="<%= current_page?(new_post_path)? 'active' : '' %>">
      <%= link_to "批发拼单", topics_pi_fa_path %>
    </dd>
    <dd class="<%= current_page?(new_post_path)? 'active' : '' %>">
      <%= link_to "定做拼单", topics_ding_zhuo_path %>
    </dd>

    <dd class="<%= current_page?(new_post_path)? 'active' : '' %>">
      <%= link_to "海淘拼单", topics_hai_tao_path %>
    </dd>
    <dd class="<%= current_page?(new_post_path)? 'active' : '' %>">
      <%= link_to "拼单帮助", page_path(:help) %>
    </dd>
  </dl>
</div>
