<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= display_meta_tags site: '加盟说，免费拼单联盟', reverse: true %>

    <%= stylesheet_link_tag    "application", media: 'all' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "message-bus" %>

    <%= favicon_link_tag %>

    <%= csrf_meta_tags %>

    <!-- weibo auth -->
    <meta property="wb:webmaster" content="73a780a918ccbecf" />

    <!-- qq auth -->
    <meta property="qc:admins" content="34651105376211556730576375" />
  </head>

  <body data-controller-name='<%= controller_name %>' data-action-name='<%= action_name %>'>
    <%= render 'layouts/header' %>

    <%= render 'layouts/flash_messages' %>
    <%= render 'layouts/private_messages' %>

    <%= yield %>

    <%= render 'layouts/scroll_top' %>

    <%= render 'layouts/footer' %>

        <% if user_signed_in? %>
          <script type="text/javascript">

              // $(function(){
              //     window.setInterval(function() {
              //         $.getScript("/activities/messages_count.js");
              //     }, 2000);
              // })




              MessageBus.start(); // call once at startup

              // how often do you want the callback to fire in ms
              MessageBus.callbackInterval = 500;



              var subject = "/direct_message/" + "<%= current_user.id %>"


              MessageBus.subscribe(subject, function(data){
                $("i.fa.fa-bell").addClass('red');
              });

          </script>
        <% end %>
    

  </body>
</html>