<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= display_meta_tags site: '寻找导师', reverse: true %>

    <%= stylesheet_link_tag    "application", media: 'all' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta property="wb:webmaster" content="d8296713f0dc3073" />
  </head>

  <body data-controller-name='<%= controller_name %>' data-action-name='<%= action_name %>'>
    <%= render 'layouts/header' %>

    <%# unless current_page?(root_path) %>
      <% if user_signed_in? %>
        <%= render 'layouts/sub_nav' %>
      <% else %>
        <% unless current_page?(root_path) %>
          <%= render 'layouts/sub_nav' %>
        <% end %>
      <% end %>
    <%# end %>

    <%= render 'layouts/flash_messages' %>

    <% if current_page?(root_path) && !user_signed_in? %>
      <!-- <div class="index-background"> -->
        <!-- <div class="row full-width"> -->
          <%= yield %>
        <!-- </div> -->
      <!-- </div> -->
    <% else %>
      <div class="row">
        <%= yield %>
      </div>
    <% end %>

    <%# unless current_page?(root_path) || user_signed_in? %>
      <%= render 'layouts/scroll_top' %>

      <%= render 'layouts/footer' %>
    <%# end %>
  </body>
</html>